@import '../../style/themes/default';
@import '../../style/mixins/index';

$spin-prefix-cls: #{$ux-prefix}-spin;
$spin-dot-default: $text-color-secondary;

.#{$spin-prefix-cls} {
  @include reset-component;
  color: $primary-color;
  text-align: center;
  opacity: 0;
  position: absolute;
  transition: transform 0.3s $ease-in-out-circ;
  display: none;

  &-spinning {
    opacity: 1;
    position: static;
    display: inline-block;
  }

  &-nested-loading {
    position: relative;
    display: inline-block;
    > .#{$spin-prefix-cls} {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      transform: translate(0, -50%);
      z-index: 5;
    }
  }

  &-container {
    position: relative;
  }

  &-blur {
    overflow: hidden;
    opacity: 0.7;
    -webkit-filter: blur(0.5px);
    filter: blur(0.5px);
    -webkit-transform: translateZ(0);
    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: #fff;
      opacity: 0.3;
      transition: all 0.3s;
      z-index: 10;
    }
  }

  // tip
  // ------------------------------
  &-tip {
    color: $spin-dot-default;
  }

  // circle
  // --------------
  &-circle {
    @include square($spin-circle-size);
    animation: uxSpinRotate 2s linear infinite;
    circle {
      animation: uxSpinDash 1.5s ease-in-out infinite;
      stroke-dasharray: 90, 150;
      stroke-dashoffset: 0;
      stroke-width: 2;
      stroke: $primary-color;
      stroke-linecap: round;
    }
  }

  // Sizes
  // ------------------------------
  // small

  &-sm &-circle {
    @include square($spin-circle-size-sm);
  }

  &-lg &-circle {
    @include square($spin-circle-size-lg);
  }

  &#{&}-show-text &-text {
    display: block;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ */
  .#{$spin-prefix-cls}-blur {
    background: $component-background;
    opacity: 0.5;
  }
}

@keyframes uxSpinRotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes uxSpinDash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -40px;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -120px;
  }
}
