@font-face {
  font-family: 'uxfont';
  src: url('#{$icon-url}.eot');
  /* IE9*/
  src: url('#{$icon-url}.eot?#iefix') format('embedded-opentype'),
    url('#{$icon-url}.woff') format('woff'), url('#{$icon-url}.ttf') format('truetype'),
    url('#{$icon-url}.svg#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

.#{$iconfont-css-prefix} {
  @include iconfont-mixin;
}

.#{$iconfont-css-prefix}-spin {
  display: inline-block;
  animation: loadingCircle 0.8s infinite linear;
}

.#{$iconfont-css-prefix}-wenjianjia_o:before {
  content: '\eb03';
}
.#{$iconfont-css-prefix}-daibanshixiang_o:before {
  content: '\eb36';
}
.#{$iconfont-css-prefix}-huodong_o:before {
  content: '\eb37';
}
.#{$iconfont-css-prefix}-jiaoshiguanli_o:before {
  content: '\eb68';
}
.#{$iconfont-css-prefix}-kejiaoguanli_o:before {
  content: '\eb6a';
}
.#{$iconfont-css-prefix}-quanxiankuaizhuang_o:before {
  content: '\eb6b';
}
.#{$iconfont-css-prefix}-rizhi_o:before {
  content: '\eb6c';
}
.#{$iconfont-css-prefix}-shenpi_o:before {
  content: '\eb6d';
}
.#{$iconfont-css-prefix}-wenjuantiaocha_o:before {
  content: '\eb6e';
}
.#{$iconfont-css-prefix}-xueli_o:before {
  content: '\eb6f';
}
.#{$iconfont-css-prefix}-yewuzongshu_o:before {
  content: '\eb70';
}
.#{$iconfont-css-prefix}-yiji-caozuoliu_o:before {
  content: '\eb71';
}
.#{$iconfont-css-prefix}-yiji-shujuzhiliang_o:before {
  content: '\eb72';
}
.#{$iconfont-css-prefix}-yiji-suanfapingtai_o:before {
  content: '\eb73';
}
.#{$iconfont-css-prefix}-yiji-yunweizhongxin_o:before {
  content: '\eb74';
}
.#{$iconfont-css-prefix}-yonghushezhi_o:before {
  content: '\eb75';
}
.#{$iconfont-css-prefix}-zhengshu_o:before {
  content: '\eb76';
}
.#{$iconfont-css-prefix}-zhudifangjia_o:before {
  content: '\eb77';
}
.#{$iconfont-css-prefix}-zichanqingkuang_o:before {
  content: '\eb78';
}
.#{$iconfont-css-prefix}-zuzhi_o:before {
  content: '\eb79';
}
.#{$iconfont-css-prefix}-xunhuan:before {
  content: '\eac6';
}
.#{$iconfont-css-prefix}-anliji:before {
  content: '\eac7';
}
.#{$iconfont-css-prefix}-chexiao1:before {
  content: '\eac9';
}
.#{$iconfont-css-prefix}-daihebing:before {
  content: '\eaca';
}
.#{$iconfont-css-prefix}-mokuai:before {
  content: '\eacb';
}
.#{$iconfont-css-prefix}-tuoputu:before {
  content: '\eacd';
}
.#{$iconfont-css-prefix}-tuozhuai:before {
  content: '\eacf';
}
.#{$iconfont-css-prefix}-addpeople_fill:before {
  content: '\ead1';
}
.#{$iconfont-css-prefix}-ahasyingyonggaokeyong:before {
  content: '\ead2';
}
.#{$iconfont-css-prefix}-anquanzhongxinon:before {
  content: '\ead3';
}
.#{$iconfont-css-prefix}-API_o:before {
  content: '\ead4';
}
.#{$iconfont-css-prefix}-APSweifuwu:before {
  content: '\ead5';
}
.#{$iconfont-css-prefix}-assessment:before {
  content: '\ead6';
}
.#{$iconfont-css-prefix}-backup:before {
  content: '\ead7';
}
.#{$iconfont-css-prefix}-baocun:before {
  content: '\ead8';
}
.#{$iconfont-css-prefix}-biz-appstore:before {
  content: '\ead9';
}
.#{$iconfont-css-prefix}-bluetooth-audio:before {
  content: '\eada';
}
.#{$iconfont-css-prefix}-bofang_o:before {
  content: '\eadb';
}
.#{$iconfont-css-prefix}-broken-image:before {
  content: '\eadc';
}
.#{$iconfont-css-prefix}-bulb:before {
  content: '\eadd';
}
.#{$iconfont-css-prefix}-clock_fill:before {
  content: '\eade';
}
.#{$iconfont-css-prefix}-cloud-done:before {
  content: '\eadf';
}
.#{$iconfont-css-prefix}-cloud-upload:before {
  content: '\eae0';
}
.#{$iconfont-css-prefix}-create-new-folder:before {
  content: '\eae1';
}
.#{$iconfont-css-prefix}-daibukao:before {
  content: '\eae2';
}
.#{$iconfont-css-prefix}-dashuju_o:before {
  content: '\eae3';
}
.#{$iconfont-css-prefix}-dashujukeshihuaico:before {
  content: '\eae4';
}
.#{$iconfont-css-prefix}-dashujuyunyingjiance:before {
  content: '\eae5';
}
.#{$iconfont-css-prefix}-dingzhikaifafuwu:before {
  content: '\eae7';
}
.#{$iconfont-css-prefix}-ehpcdanxinggaoxingnengjisuan:before {
  content: '\eae8';
}
.#{$iconfont-css-prefix}-ERP_asset_containers:before {
  content: '\eae9';
}
.#{$iconfont-css-prefix}-event-available:before {
  content: '\eaea';
}
.#{$iconfont-css-prefix}-explore:before {
  content: '\eaeb';
}
.#{$iconfont-css-prefix}-faburen:before {
  content: '\eaec';
}
.#{$iconfont-css-prefix}-favorite:before {
  content: '\eaed';
}
.#{$iconfont-css-prefix}-fenxi:before {
  content: '\eaee';
}
.#{$iconfont-css-prefix}-fenxiang_o:before {
  content: '\eaef';
}
.#{$iconfont-css-prefix}-fl-shuju:before {
  content: '\eaf0';
}
.#{$iconfont-css-prefix}-flight-takeoff:before {
  content: '\eaf1';
}
.#{$iconfont-css-prefix}-Fun_IconA2:before {
  content: '\eaf2';
}
.#{$iconfont-css-prefix}-fuzaijunheng:before {
  content: '\eaf3';
}
.#{$iconfont-css-prefix}-games:before {
  content: '\eaf4';
}
.#{$iconfont-css-prefix}-gonggaobiangeng:before {
  content: '\eaf5';
}
.#{$iconfont-css-prefix}-grade:before {
  content: '\eaf6';
}
.#{$iconfont-css-prefix}-guanli:before {
  content: '\eaf7';
}
.#{$iconfont-css-prefix}-guize:before {
  content: '\eaf8';
}
.#{$iconfont-css-prefix}-headset:before {
  content: '\eaf9';
}
.#{$iconfont-css-prefix}-high-quality:before {
  content: '\eafa';
}
.#{$iconfont-css-prefix}-history_o:before {
  content: '\eafb';
}
.#{$iconfont-css-prefix}-home_o:before {
  content: '\eafc';
}
.#{$iconfont-css-prefix}-hourglass-full:before {
  content: '\eafd';
}
.#{$iconfont-css-prefix}-huanjingpeizhi:before {
  content: '\eafe';
}
.#{$iconfont-css-prefix}-huiyuanqiagoumai:before {
  content: '\eaff';
}
.#{$iconfont-css-prefix}-huiyuanqiaguanli:before {
  content: '\eb00';
}
.#{$iconfont-css-prefix}-hunheyunshujubeifen:before {
  content: '\eb01';
}
.#{$iconfont-css-prefix}-iconpaixu:before {
  content: '\eb02';
}
.#{$iconfont-css-prefix}-invert-colors:before {
  content: '\eb04';
}
.#{$iconfont-css-prefix}-ios-basketball:before {
  content: '\eb05';
}
.#{$iconfont-css-prefix}-ios-bug:before {
  content: '\eb06';
}
.#{$iconfont-css-prefix}-ios-chatboxes:before {
  content: '\eb07';
}
.#{$iconfont-css-prefix}-ios-chatbubbles:before {
  content: '\eb08';
}
.#{$iconfont-css-prefix}-ios-compass:before {
  content: '\eb09';
}
.#{$iconfont-css-prefix}-filter_o:before {
  content: '\eb0a';
}
.#{$iconfont-css-prefix}-ios-lock:before {
  content: '\eb0b';
}
.#{$iconfont-css-prefix}-ios-person-add:before {
  content: '\eb0c';
}
.#{$iconfont-css-prefix}-ios-rocket:before {
  content: '\eb0d';
}
.#{$iconfont-css-prefix}-ios-settings:before {
  content: '\eb0e';
}
.#{$iconfont-css-prefix}-ios-videocam:before {
  content: '\eb0f';
}
.#{$iconfont-css-prefix}-ios-wifi:before {
  content: '\eb10';
}
.#{$iconfont-css-prefix}-jiejuefangan:before {
  content: '\eb11';
}
.#{$iconfont-css-prefix}-jifen-kuai:before {
  content: '\eb12';
}
.#{$iconfont-css-prefix}-jiqun:before {
  content: '\eb13';
}
.#{$iconfont-css-prefix}-kaifa:before {
  content: '\eb14';
}
.#{$iconfont-css-prefix}-kechengkaifagongju:before {
  content: '\eb15';
}
.#{$iconfont-css-prefix}-kechengshouquan:before {
  content: '\eb16';
}
.#{$iconfont-css-prefix}-koucaihuatong:before {
  content: '\eb17';
}
.#{$iconfont-css-prefix}-local-play:before {
  content: '\eb18';
}
.#{$iconfont-css-prefix}-logo-buffer:before {
  content: '\eb19';
}
.#{$iconfont-css-prefix}-mengxiaoguanli:before {
  content: '\eb1a';
}
.#{$iconfont-css-prefix}-message_fill:before {
  content: '\eb1b';
}
.#{$iconfont-css-prefix}-mianshou:before {
  content: '\eb1c';
}
.#{$iconfont-css-prefix}-minganshujujiankongshitu:before {
  content: '\eb1d';
}
.#{$iconfont-css-prefix}-MROxitong-eduguanli:before {
  content: '\eb1e';
}
.#{$iconfont-css-prefix}-MROxitong-xinxiguanli:before {
  content: '\eb1f';
}
.#{$iconfont-css-prefix}-mysql_o:before {
  content: '\eb20';
}
.#{$iconfont-css-prefix}-neibufankui:before {
  content: '\eb21';
}
.#{$iconfont-css-prefix}-nengyuan:before {
  content: '\eb22';
}
.#{$iconfont-css-prefix}-notifications-off:before {
  content: '\eb23';
}
.#{$iconfont-css-prefix}-notifications:before {
  content: '\eb24';
}
.#{$iconfont-css-prefix}-optimize:before {
  content: '\eb25';
}
.#{$iconfont-css-prefix}-ossduixiangcunchuOSS:before {
  content: '\eb26';
}
.#{$iconfont-css-prefix}-panorama:before {
  content: '\eb27';
}
.#{$iconfont-css-prefix}-perm-camera:before {
  content: '\eb28';
}
.#{$iconfont-css-prefix}-person-add:before {
  content: '\eb29';
}
.#{$iconfont-css-prefix}-pie-chart:before {
  content: '\eb2a';
}
.#{$iconfont-css-prefix}-pinpaixingxiang:before {
  content: '\eb2b';
}
.#{$iconfont-css-prefix}-publishgoods_fill:before {
  content: '\eb2c';
}
.#{$iconfont-css-prefix}-qingchuhuancun:before {
  content: '\eb2d';
}
.#{$iconfont-css-prefix}-qrcode_fill:before {
  content: '\eb2e';
}
.#{$iconfont-css-prefix}-radio:before {
  content: '\eb2f';
}
.#{$iconfont-css-prefix}-recent-actors:before {
  content: '\eb30';
}
.#{$iconfont-css-prefix}-record-voice-over:before {
  content: '\eb31';
}
.#{$iconfont-css-prefix}-remenkecheng:before {
  content: '\eb32';
}
.#{$iconfont-css-prefix}-remind_fill:before {
  content: '\eb33';
}
.#{$iconfont-css-prefix}-rengongzhineng:before {
  content: '\eb34';
}
.#{$iconfont-css-prefix}-rongqiyun_1:before {
  content: '\eb35';
}
.#{$iconfont-css-prefix}-sd-card:before {
  content: '\eb38';
}
.#{$iconfont-css-prefix}-security:before {
  content: '\eb39';
}
.#{$iconfont-css-prefix}-service_fill:before {
  content: '\eb3a';
}
.#{$iconfont-css-prefix}-shichang:before {
  content: '\eb3b';
}
.#{$iconfont-css-prefix}-shop_o:before {
  content: '\eb3c';
}
.#{$iconfont-css-prefix}-shopping-cart:before {
  content: '\eb3d';
}
.#{$iconfont-css-prefix}-shoucang:before {
  content: '\eb3e';
}
.#{$iconfont-css-prefix}-shoufeiguanli:before {
  content: '\eb3f';
}
.#{$iconfont-css-prefix}-shouye-shengtaikongzhi-erjibaohuqu:before {
  content: '\eb40';
}
.#{$iconfont-css-prefix}-shouyi:before {
  content: '\eb41';
}
.#{$iconfont-css-prefix}-shuffle:before {
  content: '\eb42';
}
.#{$iconfont-css-prefix}-shujuchuanshu_f:before {
  content: '\eb43';
}
.#{$iconfont-css-prefix}-shujuguanli:before {
  content: '\eb44';
}
.#{$iconfont-css-prefix}-shujukeshihua:before {
  content: '\eb45';
}
.#{$iconfont-css-prefix}-shujuku:before {
  content: '\eb46';
}
.#{$iconfont-css-prefix}-shujukushenji:before {
  content: '\eb47';
}
.#{$iconfont-css-prefix}-shujuyingsheguanli:before {
  content: '\eb48';
}
.#{$iconfont-css-prefix}-shujuzhanshi3:before {
  content: '\eb49';
}
.#{$iconfont-css-prefix}-sujuyuce:before {
  content: '\eb4a';
}
.#{$iconfont-css-prefix}-swap_o:before {
  content: '\eb4b';
}
.#{$iconfont-css-prefix}-sync:before {
  content: '\eb4c';
}
.#{$iconfont-css-prefix}-tianchongxing:before {
  content: '\eb4d';
}
.#{$iconfont-css-prefix}-tongji:before {
  content: '\eb4e';
}
.#{$iconfont-css-prefix}-tongyong-wenxintishitubiao:before {
  content: '\eb4f';
}
.#{$iconfont-css-prefix}-trash_fill:before {
  content: '\eb50';
}
.#{$iconfont-css-prefix}-tuihuo-kuai:before {
  content: '\eb51';
}
.#{$iconfont-css-prefix}-tuijian:before {
  content: '\eb52';
}
.#{$iconfont-css-prefix}-visibility:before {
  content: '\eb53';
}
.#{$iconfont-css-prefix}-volume-up:before {
  content: '\eb54';
}
.#{$iconfont-css-prefix}-wangluo:before {
  content: '\eb55';
}
.#{$iconfont-css-prefix}-warning_fill:before {
  content: '\eb56';
}
.#{$iconfont-css-prefix}-wendangguanlixitong-baoetongxitongtubiao:before {
  content: '\eb57';
}
.#{$iconfont-css-prefix}-wendangguanlixitong-shujuzhongxintubiao:before {
  content: '\eb58';
}
.#{$iconfont-css-prefix}-woderenwu:before {
  content: '\eb59';
}
.#{$iconfont-css-prefix}-xiaoxi_o:before {
  content: '\eb5a';
}
.#{$iconfont-css-prefix}-xihuan:before {
  content: '\eb5b';
}
.#{$iconfont-css-prefix}-xingnengguanli:before {
  content: '\eb5c';
}
.#{$iconfont-css-prefix}-xinzengchangjing:before {
  content: '\eb5d';
}
.#{$iconfont-css-prefix}-yewu_o:before {
  content: '\eb5e';
}
.#{$iconfont-css-prefix}-yibiaopan_o:before {
  content: '\eb5f';
}
.#{$iconfont-css-prefix}-yingjicaigou:before {
  content: '\eb60';
}
.#{$iconfont-css-prefix}-yingyongchaxun:before {
  content: '\eb61';
}
.#{$iconfont-css-prefix}-yingyongfuwujihuo-copy:before {
  content: '\eb62';
}
.#{$iconfont-css-prefix}-yishengmenzhen:before {
  content: '\eb63';
}
.#{$iconfont-css-prefix}-z_apiIRM_normal:before {
  content: '\eb64';
}
.#{$iconfont-css-prefix}-zaixian:before {
  content: '\eb65';
}
.#{$iconfont-css-prefix}-zengjiarili_huaban:before {
  content: '\eb66';
}
.#{$iconfont-css-prefix}-zhibokecheng:before {
  content: '\eb67';
}
.#{$iconfont-css-prefix}-zhuti:before {
  content: '\eb69';
}
.#{$iconfont-css-prefix}-closemenu:before {
  content: '\eac4';
}
.#{$iconfont-css-prefix}-openmenu:before {
  content: '\eac5';
}
.#{$iconfont-css-prefix}-about:before {
  content: '\ea5c';
}
.#{$iconfont-css-prefix}-anquan:before {
  content: '\ea5d';
}
.#{$iconfont-css-prefix}-baogao:before {
  content: '\ea5e';
}
.#{$iconfont-css-prefix}-baoguo:before {
  content: '\ea5f';
}
.#{$iconfont-css-prefix}-baojing:before {
  content: '\ea60';
}
.#{$iconfont-css-prefix}-bianji:before {
  content: '\ea61';
}
.#{$iconfont-css-prefix}-bingtu:before {
  content: '\ea62';
}
.#{$iconfont-css-prefix}-boce:before {
  content: '\ea63';
}
.#{$iconfont-css-prefix}-bofang:before {
  content: '\ea64';
}
.#{$iconfont-css-prefix}-cangku:before {
  content: '\ea65';
}
.#{$iconfont-css-prefix}-CDN:before {
  content: '\ea66';
}
.#{$iconfont-css-prefix}-cengji:before {
  content: '\ea67';
}
.#{$iconfont-css-prefix}-ceshi:before {
  content: '\ea68';
}
.#{$iconfont-css-prefix}-chexiao:before {
  content: '\ea69';
}
.#{$iconfont-css-prefix}-chizi:before {
  content: '\ea6a';
}
.#{$iconfont-css-prefix}-computer:before {
  content: '\ea6b';
}
.#{$iconfont-css-prefix}-cunchu:before {
  content: '\ea6c';
}
.#{$iconfont-css-prefix}-daiban:before {
  content: '\ea6d';
}
.#{$iconfont-css-prefix}-danao:before {
  content: '\ea6e';
}
.#{$iconfont-css-prefix}-daohang:before {
  content: '\ea6f';
}
.#{$iconfont-css-prefix}-date:before {
  content: '\ea70';
}
.#{$iconfont-css-prefix}-dayinji:before {
  content: '\ea71';
}
.#{$iconfont-css-prefix}-DDOS:before {
  content: '\ea72';
}
.#{$iconfont-css-prefix}-delete1:before {
  content: '\ea73';
}
.#{$iconfont-css-prefix}-dengchu:before {
  content: '\ea74';
}
.#{$iconfont-css-prefix}-dingwei:before {
  content: '\ea75';
}
.#{$iconfont-css-prefix}-duanxin:before {
  content: '\ea76';
}
.#{$iconfont-css-prefix}-duixiangcunchu:before {
  content: '\ea77';
}
.#{$iconfont-css-prefix}-erweima:before {
  content: '\ea78';
}
.#{$iconfont-css-prefix}-eyes:before {
  content: '\ea79';
}
.#{$iconfont-css-prefix}-fanghu:before {
  content: '\ea7a';
}
.#{$iconfont-css-prefix}-fangzi:before {
  content: '\ea7b';
}
.#{$iconfont-css-prefix}-fanlaji:before {
  content: '\ea7c';
}
.#{$iconfont-css-prefix}-fanzuobi:before {
  content: '\ea7d';
}
.#{$iconfont-css-prefix}-fanzuobicopy:before {
  content: '\ea7e';
}
.#{$iconfont-css-prefix}-fav:before {
  content: '\ea7f';
}
.#{$iconfont-css-prefix}-fenxiang:before {
  content: '\ea80';
}
.#{$iconfont-css-prefix}-fuwu:before {
  content: '\ea81';
}
.#{$iconfont-css-prefix}-fuwuchaxun:before {
  content: '\ea82';
}
.#{$iconfont-css-prefix}-fuwufenxi:before {
  content: '\ea83';
}
.#{$iconfont-css-prefix}-fuwuguanli:before {
  content: '\ea84';
}
.#{$iconfont-css-prefix}-fuwuqi1:before {
  content: '\ea85';
}
.#{$iconfont-css-prefix}-fuzai:before {
  content: '\ea86';
}
.#{$iconfont-css-prefix}-fwuxunhuan:before {
  content: '\ea87';
}
.#{$iconfont-css-prefix}-gerenxinx:before {
  content: '\ea88';
}
.#{$iconfont-css-prefix}-gerenzhongxin:before {
  content: '\ea89';
}
.#{$iconfont-css-prefix}-gongzuoliu:before {
  content: '\ea8a';
}
.#{$iconfont-css-prefix}-guanbi:before {
  content: '\ea8b';
}
.#{$iconfont-css-prefix}-guanliyuan:before {
  content: '\ea8c';
}
.#{$iconfont-css-prefix}-help1:before {
  content: '\ea8d';
}
.#{$iconfont-css-prefix}-hezuo:before {
  content: '\ea8e';
}
.#{$iconfont-css-prefix}-houtaiguanli:before {
  content: '\ea8f';
}
.#{$iconfont-css-prefix}-huojing:before {
  content: '\ea90';
}
.#{$iconfont-css-prefix}-ip:before {
  content: '\ea91';
}
.#{$iconfont-css-prefix}-jiankong:before {
  content: '\ea92';
}
.#{$iconfont-css-prefix}-jianrong:before {
  content: '\ea93';
}
.#{$iconfont-css-prefix}-jiekuan:before {
  content: '\ea94';
}
.#{$iconfont-css-prefix}-jinggao:before {
  content: '\ea95';
}
.#{$iconfont-css-prefix}-jiqiren:before {
  content: '\ea96';
}
.#{$iconfont-css-prefix}-kefu:before {
  content: '\ea97';
}
.#{$iconfont-css-prefix}-suo:before {
  content: '\ea98';
}
.#{$iconfont-css-prefix}-kuangjia:before {
  content: '\ea99';
}
.#{$iconfont-css-prefix}-lanya:before {
  content: '\ea9a';
}
.#{$iconfont-css-prefix}-lianjie:before {
  content: '\ea9b';
}
.#{$iconfont-css-prefix}-linggan:before {
  content: '\ea9c';
}
.#{$iconfont-css-prefix}-lishi:before {
  content: '\ea9d';
}
.#{$iconfont-css-prefix}-liwu:before {
  content: '\ea9e';
}
.#{$iconfont-css-prefix}-MOCK:before {
  content: '\ea9f';
}
.#{$iconfont-css-prefix}-mysql:before {
  content: '\eaa0';
}
.#{$iconfont-css-prefix}-PDA:before {
  content: '\eaa1';
}
.#{$iconfont-css-prefix}-qianbao:before {
  content: '\eaa2';
}
.#{$iconfont-css-prefix}-quanping:before {
  content: '\eaa3';
}
.#{$iconfont-css-prefix}-sao:before {
  content: '\eaa4';
}
.#{$iconfont-css-prefix}-saoma:before {
  content: '\eaa5';
}
.#{$iconfont-css-prefix}-save_o:before {
  content: '\eaa6';
}
.#{$iconfont-css-prefix}-setting_o:before {
  content: '\eaa7';
}
.#{$iconfont-css-prefix}-shaixuan:before {
  content: '\eaa8';
}
.#{$iconfont-css-prefix}-shenduceshi:before {
  content: '\eaa9';
}
.#{$iconfont-css-prefix}-shengyin:before {
  content: '\eaaa';
}
.#{$iconfont-css-prefix}-shibie:before {
  content: '\eaab';
}
.#{$iconfont-css-prefix}-shijian:before {
  content: '\eaac';
}
.#{$iconfont-css-prefix}-shipin:before {
  content: '\eaad';
}
.#{$iconfont-css-prefix}-shopping_o:before {
  content: '\eaae';
}
.#{$iconfont-css-prefix}-shuibiao:before {
  content: '\eaaf';
}
.#{$iconfont-css-prefix}-shuju:before {
  content: '\eab0';
}
.#{$iconfont-css-prefix}-sousou:before {
  content: '\eab1';
}
.#{$iconfont-css-prefix}-sousuo:before {
  content: '\eab2';
}
.#{$iconfont-css-prefix}-tianjia:before {
  content: '\eab3';
}
.#{$iconfont-css-prefix}-tongzhi:before {
  content: '\eab4';
}
.#{$iconfont-css-prefix}-VPC:before {
  content: '\eab5';
}
.#{$iconfont-css-prefix}-vs:before {
  content: '\eab6';
}
.#{$iconfont-css-prefix}-weixiu:before {
  content: '\eab7';
}
.#{$iconfont-css-prefix}-wendang:before {
  content: '\eab8';
}
.#{$iconfont-css-prefix}-wendingxing:before {
  content: '\eab9';
}
.#{$iconfont-css-prefix}-xiangji:before {
  content: '\eaba';
}
.#{$iconfont-css-prefix}-xianshibutong:before {
  content: '\eabb';
}
.#{$iconfont-css-prefix}-xiaoxi:before {
  content: '\eabc';
}
.#{$iconfont-css-prefix}-xinzeng:before {
  content: '\eabd';
}
.#{$iconfont-css-prefix}-yanzhengma:before {
  content: '\eabe';
}
.#{$iconfont-css-prefix}-yaoshi:before {
  content: '\eabf';
}
.#{$iconfont-css-prefix}-yemianliu:before {
  content: '\eac0';
}
.#{$iconfont-css-prefix}-yibiaopan:before {
  content: '\eac1';
}
.#{$iconfont-css-prefix}-yichang:before {
  content: '\eac2';
}
.#{$iconfont-css-prefix}-yidong:before {
  content: '\eac3';
}
.#{$iconfont-css-prefix}-down:before {
  content: '\e900';
}
.#{$iconfont-css-prefix}-up:before {
  content: '\e901';
}
.#{$iconfont-css-prefix}-left:before {
  content: '\e902';
}
.#{$iconfont-css-prefix}-right:before {
  content: '\e903';
}
.#{$iconfont-css-prefix}-caret_up:before {
  content: '\e904';
}
.#{$iconfont-css-prefix}-caret_down:before {
  content: '\e905';
}
.#{$iconfont-css-prefix}-caret_left:before {
  content: '\e906';
}
.#{$iconfont-css-prefix}-caret_right:before {
  content: '\e907';
}
.#{$iconfont-css-prefix}-up_circle:before {
  content: '\e908';
}
.#{$iconfont-css-prefix}-down_circle:before {
  content: '\e909';
}
.#{$iconfont-css-prefix}-left_circle:before {
  content: '\e90a';
}
.#{$iconfont-css-prefix}-right_circle:before {
  content: '\e90b';
}
.#{$iconfont-css-prefix}-up_circle_o:before {
  content: '\e90c';
}
.#{$iconfont-css-prefix}-down_circle_o:before {
  content: '\e90d';
}
.#{$iconfont-css-prefix}-left_circle_o:before {
  content: '\e90e';
}
.#{$iconfont-css-prefix}-right_circle_o:before {
  content: '\e90f';
}
.#{$iconfont-css-prefix}-up_fang:before {
  content: '\e910';
}
.#{$iconfont-css-prefix}-down_fang:before {
  content: '\e911';
}
.#{$iconfont-css-prefix}-left_fang:before {
  content: '\e912';
}
.#{$iconfont-css-prefix}-right_fang:before {
  content: '\e913';
}
.#{$iconfont-css-prefix}-up_fang_o:before {
  content: '\e914';
}
.#{$iconfont-css-prefix}-down_fang_o:before {
  content: '\e915';
}
.#{$iconfont-css-prefix}-left_fang_o:before {
  content: '\e916';
}
.#{$iconfont-css-prefix}-right_fang_o:before {
  content: '\e917';
}
.#{$iconfont-css-prefix}-arrow_up:before {
  content: '\e918';
}
.#{$iconfont-css-prefix}-arrow_down:before {
  content: '\e919';
}
.#{$iconfont-css-prefix}-arrow_left:before {
  content: '\e91a';
}
.#{$iconfont-css-prefix}-arrow_right:before {
  content: '\e91b';
}
.#{$iconfont-css-prefix}-arrow_up_o:before {
  content: '\e91c';
}
.#{$iconfont-css-prefix}-arrow_down_o:before {
  content: '\e91d';
}
.#{$iconfont-css-prefix}-arrow_left_o:before {
  content: '\e91e';
}
.#{$iconfont-css-prefix}-arrow_right_o:before {
  content: '\e91f';
}
.#{$iconfont-css-prefix}-menu_fold:before {
  content: '\e920';
}
.#{$iconfont-css-prefix}-menu_unfold:before {
  content: '\e921';
}
.#{$iconfont-css-prefix}-double_left:before {
  content: '\e922';
}
.#{$iconfont-css-prefix}-double_right:before {
  content: '\e923';
}
.#{$iconfont-css-prefix}-swap:before {
  content: '\e924';
}
.#{$iconfont-css-prefix}-swap_sx:before {
  content: '\e925';
}
.#{$iconfont-css-prefix}-right_down:before {
  content: '\e926';
}
.#{$iconfont-css-prefix}-back_top:before {
  content: '\e927';
}
.#{$iconfont-css-prefix}-back:before {
  content: '\e928';
}
.#{$iconfont-css-prefix}-data_rise:before {
  content: '\e929';
}
.#{$iconfont-css-prefix}-data_decline:before {
  content: '\e92a';
}
.#{$iconfont-css-prefix}-upload:before {
  content: '\e92b';
}
.#{$iconfont-css-prefix}-download:before {
  content: '\e92c';
}
.#{$iconfont-css-prefix}-share:before {
  content: '\e92d';
}
.#{$iconfont-css-prefix}-retweet:before {
  content: '\e92e';
}
.#{$iconfont-css-prefix}-refresh:before {
  content: '\e92f';
}
.#{$iconfont-css-prefix}-step_backward:before {
  content: '\e930';
}
.#{$iconfont-css-prefix}-step_forward:before {
  content: '\e931';
}
.#{$iconfont-css-prefix}-fast_backward:before {
  content: '\e932';
}
.#{$iconfont-css-prefix}-fast_forward:before {
  content: '\e933';
}
.#{$iconfont-css-prefix}-play_circle:before {
  content: '\e934';
}
.#{$iconfont-css-prefix}-play_circle_o:before {
  content: '\e935';
}
.#{$iconfont-css-prefix}-play_pause_o:before {
  content: '\e936';
}
.#{$iconfont-css-prefix}-question:before {
  content: '\e937';
}
.#{$iconfont-css-prefix}-question_circle_o:before {
  content: '\e938';
}
.#{$iconfont-css-prefix}-question_circle:before {
  content: '\e939';
}
.#{$iconfont-css-prefix}-info:before {
  content: '\e93a';
}
.#{$iconfont-css-prefix}-info_circle_o:before {
  content: '\e93b';
}
.#{$iconfont-css-prefix}-info_circle:before {
  content: '\e93c';
}
.#{$iconfont-css-prefix}-exclamation:before {
  content: '\e93d';
}
.#{$iconfont-css-prefix}-exclamation_circle_o:before {
  content: '\e93e';
}
.#{$iconfont-css-prefix}-exclamation_circle:before {
  content: '\e93f';
}
.#{$iconfont-css-prefix}-ok:before {
  content: '\e940';
}
.#{$iconfont-css-prefix}-ok_circle_o:before {
  content: '\e941';
}
.#{$iconfont-css-prefix}-ok_circle:before {
  content: '\e942';
}
.#{$iconfont-css-prefix}-close:before {
  content: '\e943';
}
.#{$iconfont-css-prefix}-close_circle_o:before {
  content: '\e944';
}
.#{$iconfont-css-prefix}-close_circle:before {
  content: '\e945';
}
.#{$iconfont-css-prefix}-add:before {
  content: '\e946';
}
.#{$iconfont-css-prefix}-add_circle_o:before {
  content: '\e947';
}
.#{$iconfont-css-prefix}-add_circle:before {
  content: '\e948';
}
.#{$iconfont-css-prefix}-pause:before {
  content: '\e949';
}
.#{$iconfont-css-prefix}-pause_circle_o:before {
  content: '\e94a';
}
.#{$iconfont-css-prefix}-pause_circle:before {
  content: '\e94b';
}
.#{$iconfont-css-prefix}-minus:before {
  content: '\e94c';
}
.#{$iconfont-css-prefix}-minus_circle_o:before {
  content: '\e94d';
}
.#{$iconfont-css-prefix}-minus_circle:before {
  content: '\e94e';
}
.#{$iconfont-css-prefix}-circle:before {
  content: '\e94f';
}
.#{$iconfont-css-prefix}-circle_selected:before {
  content: '\e950';
}
.#{$iconfont-css-prefix}-square:before {
  content: '\e951';
}
.#{$iconfont-css-prefix}-square_selected:before {
  content: '\e952';
}
.#{$iconfont-css-prefix}-add_square_o:before {
  content: '\e953';
}
.#{$iconfont-css-prefix}-add_square:before {
  content: '\e954';
}
.#{$iconfont-css-prefix}-minus_square_o:before {
  content: '\e955';
}
.#{$iconfont-css-prefix}-minus_square:before {
  content: '\e956';
}
.#{$iconfont-css-prefix}-clock_circle_o:before {
  content: '\e957';
}
.#{$iconfont-css-prefix}-clock_circle:before {
  content: '\e958';
}
.#{$iconfont-css-prefix}-warning_o:before {
  content: '\e959';
}
.#{$iconfont-css-prefix}-warning:before {
  content: '\e95a';
}
.#{$iconfont-css-prefix}-horn_o:before {
  content: '\e95b';
}
.#{$iconfont-css-prefix}-horn:before {
  content: '\e95c';
}
.#{$iconfont-css-prefix}-bells:before {
  content: '\e95d';
}
.#{$iconfont-css-prefix}-Information_o:before {
  content: '\e95e';
}
.#{$iconfont-css-prefix}-app_o:before {
  content: '\e95f';
}
.#{$iconfont-css-prefix}-delete_o:before {
  content: '\e960';
}
.#{$iconfont-css-prefix}-copy_o:before {
  content: '\e961';
}
.#{$iconfont-css-prefix}-edit:before {
  content: '\e962';
}
.#{$iconfont-css-prefix}-catalog:before {
  content: '\e963';
}
.#{$iconfont-css-prefix}-more:before {
  content: '\e964';
}
.#{$iconfont-css-prefix}-save:before {
  content: '\e965';
}
.#{$iconfont-css-prefix}-order:before {
  content: '\e966';
}
.#{$iconfont-css-prefix}-order_search:before {
  content: '\e967';
}
.#{$iconfont-css-prefix}-order_false:before {
  content: '\e968';
}
.#{$iconfont-css-prefix}-order_success:before {
  content: '\e969';
}
.#{$iconfont-css-prefix}-order_account:before {
  content: '\e96a';
}
.#{$iconfont-css-prefix}-order_rmb:before {
  content: '\e96b';
}
.#{$iconfont-css-prefix}-order_date:before {
  content: '\e96c';
}
.#{$iconfont-css-prefix}-calendar:before {
  content: '\e96d';
}
.#{$iconfont-css-prefix}-account:before {
  content: '\e96e';
}
.#{$iconfont-css-prefix}-account_add:before {
  content: '\e96f';
}
.#{$iconfont-css-prefix}-account_menu:before {
  content: '\e970';
}
.#{$iconfont-css-prefix}-account_more:before {
  content: '\e971';
}
.#{$iconfont-css-prefix}-account_out:before {
  content: '\e972';
}
.#{$iconfont-css-prefix}-lock:before {
  content: '\e973';
}
.#{$iconfont-css-prefix}-unlock:before {
  content: '\e974';
}
.#{$iconfont-css-prefix}-menu_more:before {
  content: '\e975';
}
.#{$iconfont-css-prefix}-closed:before {
  content: '\e976';
}
.#{$iconfont-css-prefix}-home:before {
  content: '\e977';
}
.#{$iconfont-css-prefix}-mail:before {
  content: '\e978';
}
.#{$iconfont-css-prefix}-scanning:before {
  content: '\e979';
}
.#{$iconfont-css-prefix}-search:before {
  content: '\e97a';
}
.#{$iconfont-css-prefix}-enlarge:before {
  content: '\e97b';
}
.#{$iconfont-css-prefix}-narrow:before {
  content: '\e97c';
}
.#{$iconfont-css-prefix}-network:before {
  content: '\e97d';
}
.#{$iconfont-css-prefix}-menu_o:before {
  content: '\e97e';
}
.#{$iconfont-css-prefix}-regulation:before {
  content: '\e97f';
}
.#{$iconfont-css-prefix}-refresh_gif:before {
  content: '\e980';
}
.#{$iconfont-css-prefix}-safty:before {
  content: '\e981';
}
.#{$iconfont-css-prefix}-setting:before {
  content: '\e982';
}
.#{$iconfont-css-prefix}-code_r:before {
  content: '\e983';
}
.#{$iconfont-css-prefix}-storage:before {
  content: '\e984';
}
.#{$iconfont-css-prefix}-sixangle_three:before {
  content: '\e985';
}
.#{$iconfont-css-prefix}-code:before {
  content: '\e986';
}
.#{$iconfont-css-prefix}-box:before {
  content: '\e987';
}
.#{$iconfont-css-prefix}-printing:before {
  content: '\e988';
}
.#{$iconfont-css-prefix}-screenshot:before {
  content: '\e989';
}
.#{$iconfont-css-prefix}-monitoring:before {
  content: '\e98a';
}
.#{$iconfont-css-prefix}-picture:before {
  content: '\e98b';
}
.#{$iconfont-css-prefix}-chart_line:before {
  content: '\e98c';
}
.#{$iconfont-css-prefix}-chart_bar:before {
  content: '\e98d';
}
.#{$iconfont-css-prefix}-chart_plot:before {
  content: '\e98e';
}
.#{$iconfont-css-prefix}-chart_pie:before {
  content: '\e98f';
}
.#{$iconfont-css-prefix}-relationship_circle:before {
  content: '\e990';
}
.#{$iconfont-css-prefix}-resources_zhu:before {
  content: '\e991';
}
.#{$iconfont-css-prefix}-resources_fang:before {
  content: '\e992';
}
.#{$iconfont-css-prefix}-calculation:before {
  content: '\e993';
}
.#{$iconfont-css-prefix}-pc_o:before {
  content: '\e994';
}
.#{$iconfont-css-prefix}-topology:before {
  content: '\e995';
}
.#{$iconfont-css-prefix}-cloud:before {
  content: '\e996';
}
.#{$iconfont-css-prefix}-cloud_upload:before {
  content: '\e997';
}
.#{$iconfont-css-prefix}-cloud_download:before {
  content: '\e998';
}
.#{$iconfont-css-prefix}-test_r:before {
  content: '\e999';
}
.#{$iconfont-css-prefix}-router:before {
  content: '\e99a';
}
.#{$iconfont-css-prefix}-heart:before {
  content: '\e99b';
}
.#{$iconfont-css-prefix}-heart_o:before {
  content: '\e99c';
}
.#{$iconfont-css-prefix}-star:before {
  content: '\e99d';
}
.#{$iconfont-css-prefix}-star_o:before {
  content: '\e99e';
}
.#{$iconfont-css-prefix}-praise:before {
  content: '\e99f';
}
.#{$iconfont-css-prefix}-praise_o:before {
  content: '\e9a0';
}
.#{$iconfont-css-prefix}-negative:before {
  content: '\e9a1';
}
.#{$iconfont-css-prefix}-negative_o:before {
  content: '\e9a2';
}
.#{$iconfont-css-prefix}-eye:before {
  content: '\e9a3';
}
.#{$iconfont-css-prefix}-eye_o:before {
  content: '\e9a4';
}
.#{$iconfont-css-prefix}-map:before {
  content: '\e9a5';
}
.#{$iconfont-css-prefix}-map_o:before {
  content: '\e9a6';
}
.#{$iconfont-css-prefix}-unhappy:before {
  content: '\e9a7';
}
.#{$iconfont-css-prefix}-unhappy_o:before {
  content: '\e9a8';
}
.#{$iconfont-css-prefix}-commonly_o:before {
  content: '\e9a9';
}
.#{$iconfont-css-prefix}-commonly:before {
  content: '\e9aa';
}
.#{$iconfont-css-prefix}-happy_o:before {
  content: '\e9ab';
}
.#{$iconfont-css-prefix}-happy:before {
  content: '\e9ac';
}
.#{$iconfont-css-prefix}-filter:before {
  content: '\e9ad';
}
.#{$iconfont-css-prefix}-gift:before {
  content: '\e9ae';
}
.#{$iconfont-css-prefix}-shopping_Cart:before {
  content: '\e9af';
}
.#{$iconfont-css-prefix}-voucher:before {
  content: '\e9b0';
}
.#{$iconfont-css-prefix}-shop:before {
  content: '\e9b1';
}
.#{$iconfont-css-prefix}-wallet:before {
  content: '\e9b2';
}
.#{$iconfont-css-prefix}-card:before {
  content: '\e9b3';
}
.#{$iconfont-css-prefix}-customer_service:before {
  content: '\e9b4';
}
.#{$iconfont-css-prefix}-call:before {
  content: '\e9b5';
}
.#{$iconfont-css-prefix}-discount:before {
  content: '\e9b6';
}
.#{$iconfont-css-prefix}-code_qr:before {
  content: '\e9b7';
}
.#{$iconfont-css-prefix}-skin:before {
  content: '\e9b8';
}
.#{$iconfont-css-prefix}-diamonds:before {
  content: '\e9b9';
}
.#{$iconfont-css-prefix}-building:before {
  content: '\e9ba';
}
.#{$iconfont-css-prefix}-send_out:before {
  content: '\e9bb';
}
.#{$iconfont-css-prefix}-mark:before {
  content: '\e9bc';
}
.#{$iconfont-css-prefix}-mark_text:before {
  content: '\e9bd';
}
.#{$iconfont-css-prefix}-fullscreen_exit:before {
  content: '\e9be';
}
.#{$iconfont-css-prefix}-fullscreen:before {
  content: '\e9bf';
}
.#{$iconfont-css-prefix}-hot:before {
  content: '\e9c0';
}
.#{$iconfont-css-prefix}-hot_o:before {
  content: '\e9c1';
}
.#{$iconfont-css-prefix}-crown:before {
  content: '\e9c2';
}
.#{$iconfont-css-prefix}-coffee:before {
  content: '\e9c3';
}
.#{$iconfont-css-prefix}-voice:before {
  content: '\e9c4';
}
.#{$iconfont-css-prefix}-finance:before {
  content: '\e9c5';
}
.#{$iconfont-css-prefix}-ranking:before {
  content: '\e9c6';
}
.#{$iconfont-css-prefix}-blub:before {
  content: '\e9c7';
}
.#{$iconfont-css-prefix}-folder:before {
  content: '\e9c8';
}
.#{$iconfont-css-prefix}-folder_open:before {
  content: '\e9c9';
}
.#{$iconfont-css-prefix}-file_none:before {
  content: '\e9ca';
}
.#{$iconfont-css-prefix}-file:before {
  content: '\e9cb';
}
.#{$iconfont-css-prefix}-file_question:before {
  content: '\e9cc';
}
.#{$iconfont-css-prefix}-file_ppt:before {
  content: '\e9cd';
}
.#{$iconfont-css-prefix}-file_word:before {
  content: '\e9ce';
}
.#{$iconfont-css-prefix}-file_excel:before {
  content: '\e9cf';
}
.#{$iconfont-css-prefix}-file_add:before {
  content: '\e9d0';
}
.#{$iconfont-css-prefix}-table:before {
  content: '\e9d1';
}
.#{$iconfont-css-prefix}-share2:before {
  content: '\e9d2';
}
.#{$iconfont-css-prefix}-photo:before {
  content: '\e9d3';
}
.#{$iconfont-css-prefix}-shopping:before {
  content: '\e9d4';
}
.#{$iconfont-css-prefix}-business:before {
  content: '\e9d5';
}
.#{$iconfont-css-prefix}-delivery:before {
  content: '\e9d6';
}
.#{$iconfont-css-prefix}-flash_lamp:before {
  content: '\e9d7';
}
.#{$iconfont-css-prefix}-location_o:before {
  content: '\e9d8';
}
.#{$iconfont-css-prefix}-logistics:before {
  content: '\e9d9';
}
.#{$iconfont-css-prefix}-link:before {
  content: '\e9da';
}
.#{$iconfont-css-prefix}-macbook:before {
  content: '\e9db';
}
.#{$iconfont-css-prefix}-mobilephone:before {
  content: '\e9dc';
}
.#{$iconfont-css-prefix}-wrench:before {
  content: '\e9dd';
}
.#{$iconfont-css-prefix}-cipan:before {
  content: '\e9de';
}
.#{$iconfont-css-prefix}-delete:before {
  content: '\e9df';
}
.#{$iconfont-css-prefix}-dingdan:before {
  content: '\e9e0';
}
.#{$iconfont-css-prefix}-duliang:before {
  content: '\e9e1';
}
.#{$iconfont-css-prefix}-fapiao:before {
  content: '\e9e2';
}
.#{$iconfont-css-prefix}-fuwuqi:before {
  content: '\e9e3';
}
.#{$iconfont-css-prefix}-help:before {
  content: '\e9e4';
}
.#{$iconfont-css-prefix}-gailan:before {
  content: '\e9e5';
}
.#{$iconfont-css-prefix}-key:before {
  content: '\e9e6';
}
.#{$iconfont-css-prefix}-menu:before {
  content: '\e9e7';
}
.#{$iconfont-css-prefix}-message:before {
  content: '\e9e8';
}
.#{$iconfont-css-prefix}-monitor:before {
  content: '\e9e9';
}
.#{$iconfont-css-prefix}-more_9:before {
  content: '\e9ea';
}
.#{$iconfont-css-prefix}-quan:before {
  content: '\e9eb';
}
.#{$iconfont-css-prefix}-quanxian:before {
  content: '\e9ec';
}
.#{$iconfont-css-prefix}-quexian:before {
  content: '\e9ed';
}
.#{$iconfont-css-prefix}-renzheng:before {
  content: '\e9ee';
}
.#{$iconfont-css-prefix}-safe_setting:before {
  content: '\e9ef';
}
.#{$iconfont-css-prefix}-safe_zu:before {
  content: '\e9f0';
}
.#{$iconfont-css-prefix}-search_top:before {
  content: '\e9f1';
}
.#{$iconfont-css-prefix}-server:before {
  content: '\e9f2';
}
.#{$iconfont-css-prefix}-settings:before {
  content: '\e9f3';
}
.#{$iconfont-css-prefix}-gouwu:before {
  content: '\e9f4';
}
.#{$iconfont-css-prefix}-siyouwangluo:before {
  content: '\e9f5';
}
.#{$iconfont-css-prefix}-yewu:before {
  content: '\e9f6';
}
.#{$iconfont-css-prefix}-yingyong:before {
  content: '\e9f7';
}
.#{$iconfont-css-prefix}-download_f:before {
  content: '\e9f8';
}
.#{$iconfont-css-prefix}-protect:before {
  content: '\e9f9';
}
.#{$iconfont-css-prefix}-chart:before {
  content: '\e9fa';
}
.#{$iconfont-css-prefix}-cannot:before {
  content: '\e9fb';
}
.#{$iconfont-css-prefix}-code2:before {
  content: '\e9fc';
}
.#{$iconfont-css-prefix}-search_text:before {
  content: '\e9fd';
}
.#{$iconfont-css-prefix}-crawler:before {
  content: '\e9fe';
}
.#{$iconfont-css-prefix}-jiaohuan:before {
  content: '\e9ff';
}
.#{$iconfont-css-prefix}-center_align:before {
  content: '\ea00';
}
.#{$iconfont-css-prefix}-map_1:before {
  content: '\ea01';
}
.#{$iconfont-css-prefix}-ball:before {
  content: '\ea02';
}
.#{$iconfont-css-prefix}-out:before {
  content: '\ea03';
}
.#{$iconfont-css-prefix}-wife:before {
  content: '\ea04';
}
.#{$iconfont-css-prefix}-servers:before {
  content: '\ea05';
}
.#{$iconfont-css-prefix}-message1:before {
  content: '\ea06';
}
.#{$iconfont-css-prefix}-login:before {
  content: '\ea07';
}
.#{$iconfont-css-prefix}-example:before {
  content: '\ea08';
}
.#{$iconfont-css-prefix}-zoom_big:before {
  content: '\ea09';
}
.#{$iconfont-css-prefix}-fangdajing:before {
  content: '\ea0a';
}
.#{$iconfont-css-prefix}-shareo:before {
  content: '\ea0b';
}
.#{$iconfont-css-prefix}-relevance:before {
  content: '\ea0c';
}
.#{$iconfont-css-prefix}-relation_schema:before {
  content: '\ea0d';
}
.#{$iconfont-css-prefix}-Administrator:before {
  content: '\ea0e';
}
.#{$iconfont-css-prefix}-filtration:before {
  content: '\ea0f';
}
.#{$iconfont-css-prefix}-lateral_distribution:before {
  content: '\ea10';
}
.#{$iconfont-css-prefix}-history:before {
  content: '\ea11';
}
.#{$iconfont-css-prefix}-camera:before {
  content: '\ea12';
}
.#{$iconfont-css-prefix}-printscreen:before {
  content: '\ea13';
}
.#{$iconfont-css-prefix}-port:before {
  content: '\ea14';
}
.#{$iconfont-css-prefix}-unlocking:before {
  content: '\ea15';
}
.#{$iconfont-css-prefix}-code3:before {
  content: '\ea16';
}
.#{$iconfont-css-prefix}-folder_open2:before {
  content: '\ea17';
}
.#{$iconfont-css-prefix}-more_ap:before {
  content: '\ea18';
}
.#{$iconfont-css-prefix}-shrink:before {
  content: '\ea19';
}
.#{$iconfont-css-prefix}-spread:before {
  content: '\ea1a';
}
.#{$iconfont-css-prefix}-save_as:before {
  content: '\ea1b';
}
.#{$iconfont-css-prefix}-key1:before {
  content: '\ea1c';
}
.#{$iconfont-css-prefix}-template:before {
  content: '\ea1d';
}
.#{$iconfont-css-prefix}-configuration:before {
  content: '\ea1e';
}
.#{$iconfont-css-prefix}-flag:before {
  content: '\ea1f';
}
.#{$iconfont-css-prefix}-brush:before {
  content: '\ea20';
}
.#{$iconfont-css-prefix}-date2:before {
  content: '\ea21';
}
.#{$iconfont-css-prefix}-historic_record:before {
  content: '\ea22';
}
.#{$iconfont-css-prefix}-scan:before {
  content: '\ea23';
}
.#{$iconfont-css-prefix}-filtrate:before {
  content: '\ea24';
}
.#{$iconfont-css-prefix}-up__align:before {
  content: '\ea25';
}
.#{$iconfont-css-prefix}-move_up:before {
  content: '\ea26';
}
.#{$iconfont-css-prefix}-standard:before {
  content: '\ea27';
}
.#{$iconfont-css-prefix}-community:before {
  content: '\ea28';
}
.#{$iconfont-css-prefix}-time1:before {
  content: '\ea29';
}
.#{$iconfont-css-prefix}-monitor2:before {
  content: '\ea2a';
}
.#{$iconfont-css-prefix}-phone_bound:before {
  content: '\ea2b';
}
.#{$iconfont-css-prefix}-phone_separate:before {
  content: '\ea2c';
}
.#{$iconfont-css-prefix}-home3:before {
  content: '\ea2d';
}
.#{$iconfont-css-prefix}-data2:before {
  content: '\ea2e';
}
.#{$iconfont-css-prefix}-data_chart:before {
  content: '\ea2f';
}
.#{$iconfont-css-prefix}-data_set:before {
  content: '\ea30';
}
.#{$iconfont-css-prefix}-center_horizontally:before {
  content: '\ea31';
}
.#{$iconfont-css-prefix}-unlock1:before {
  content: '\ea32';
}
.#{$iconfont-css-prefix}-reminder:before {
  content: '\ea33';
}
.#{$iconfont-css-prefix}-reminder2:before {
  content: '\ea34';
}
.#{$iconfont-css-prefix}-drawing_pin:before {
  content: '\ea35';
}
.#{$iconfont-css-prefix}-exit1:before {
  content: '\ea36';
}
.#{$iconfont-css-prefix}-map2:before {
  content: '\ea37';
}
.#{$iconfont-css-prefix}-text2:before {
  content: '\ea38';
}
.#{$iconfont-css-prefix}-folder1:before {
  content: '\ea39';
}
.#{$iconfont-css-prefix}-sql:before {
  content: '\ea3a';
}
.#{$iconfont-css-prefix}-down_aligning:before {
  content: '\ea3b';
}
.#{$iconfont-css-prefix}-down_move:before {
  content: '\ea3c';
}
.#{$iconfont-css-prefix}-lock_open:before {
  content: '\ea3d';
}
.#{$iconfont-css-prefix}-computer_ok:before {
  content: '\ea3e';
}
.#{$iconfont-css-prefix}-add_text:before {
  content: '\ea3f';
}
.#{$iconfont-css-prefix}-new_guidance:before {
  content: '\ea40';
}
.#{$iconfont-css-prefix}-new_construction:before {
  content: '\ea41';
}
.#{$iconfont-css-prefix}-new_folder:before {
  content: '\ea42';
}
.#{$iconfont-css-prefix}-renewed:before {
  content: '\ea43';
}
.#{$iconfont-css-prefix}-demonstration:before {
  content: '\ea44';
}
.#{$iconfont-css-prefix}-business2:before {
  content: '\ea45';
}
.#{$iconfont-css-prefix}-date4:before {
  content: '\ea46';
}
.#{$iconfont-css-prefix}-en:before {
  content: '\ea47';
}
.#{$iconfont-css-prefix}-email_2:before {
  content: '\ea48';
}
.#{$iconfont-css-prefix}-right_align:before {
  content: '\ea49';
}
.#{$iconfont-css-prefix}-alarm2:before {
  content: '\ea4a';
}
.#{$iconfont-css-prefix}-preview:before {
  content: '\ea4b';
}
.#{$iconfont-css-prefix}-yun_up:before {
  content: '\ea4c';
}
.#{$iconfont-css-prefix}-online:before {
  content: '\ea4d';
}
.#{$iconfont-css-prefix}-obstacle:before {
  content: '\ea4e';
}
.#{$iconfont-css-prefix}-target:before {
  content: '\ea4f';
}
.#{$iconfont-css-prefix}-chinese:before {
  content: '\ea50';
}
.#{$iconfont-css-prefix}-chart_2:before {
  content: '\ea51';
}
.#{$iconfont-css-prefix}-journalism:before {
  content: '\ea52';
}
.#{$iconfont-css-prefix}-general_view:before {
  content: '\ea53';
}
.#{$iconfont-css-prefix}-longitudinal_distribution:before {
  content: '\ea54';
}
.#{$iconfont-css-prefix}-left_align:before {
  content: '\ea55';
}
.#{$iconfont-css-prefix}-A-B:before {
  content: '\ea56';
}
.#{$iconfont-css-prefix}-API:before {
  content: '\ea57';
}
.#{$iconfont-css-prefix}-dashuju:before {
  content: '\ea58';
}
.#{$iconfont-css-prefix}-devops:before {
  content: '\ea59';
}
.#{$iconfont-css-prefix}-loading_2:before {
  content: '\ea5a';
}
.#{$iconfont-css-prefix}-zhongjianjian:before {
  content: '\ea5b';
}
