@font-face {
  font-family: 'uxfont';
  src: url('#{$icon-url}.eot');
  /* IE9*/
  src: url('#{$icon-url}.eot?#iefix') format('embedded-opentype'),
    url('#{$icon-url}.woff') format('woff'), url('#{$icon-url}.ttf') format('truetype'),
    url('#{$icon-url}.svg#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

.#{$iconfont-css-prefix} {
  // display: inline-block;
  // font: normal normal normal 16px/1 uxfont;
  // font-size: inherit;
  // text-rendering: auto;
  // vertical-align: -1px;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  @include iconfont-mixin;
}

.#{$iconfont-css-prefix}-spin {
  display: inline-block;
  animation: loadingCircle 0.8s infinite linear;
}

.#{$iconfont-css-prefix}-down:before {
  content: '\e900';
}
.#{$iconfont-css-prefix}-up:before {
  content: '\e901';
}
.#{$iconfont-css-prefix}-left:before {
  content: '\e902';
}
.#{$iconfont-css-prefix}-right:before {
  content: '\e903';
}
.#{$iconfont-css-prefix}-caret_up:before {
  content: '\e904';
}
.#{$iconfont-css-prefix}-caret_down:before {
  content: '\e905';
}
.#{$iconfont-css-prefix}-caret_left:before {
  content: '\e906';
}
.#{$iconfont-css-prefix}-caret_right:before {
  content: '\e907';
}
.#{$iconfont-css-prefix}-up_circle:before {
  content: '\e908';
}
.#{$iconfont-css-prefix}-down_circle:before {
  content: '\e909';
}
.#{$iconfont-css-prefix}-left_circle:before {
  content: '\e90a';
}
.#{$iconfont-css-prefix}-right_circle:before {
  content: '\e90b';
}
.#{$iconfont-css-prefix}-up_circle_o:before {
  content: '\e90c';
}
.#{$iconfont-css-prefix}-down_circle_o:before {
  content: '\e90d';
}
.#{$iconfont-css-prefix}-left_circle_o:before {
  content: '\e90e';
}
.#{$iconfont-css-prefix}-right_circle_o:before {
  content: '\e90f';
}
.#{$iconfont-css-prefix}-up_fang:before {
  content: '\e910';
}
.#{$iconfont-css-prefix}-down_fang:before {
  content: '\e911';
}
.#{$iconfont-css-prefix}-left_fang:before {
  content: '\e912';
}
.#{$iconfont-css-prefix}-right_fang:before {
  content: '\e913';
}
.#{$iconfont-css-prefix}-up_fang_o:before {
  content: '\e914';
}
.#{$iconfont-css-prefix}-down_fang_o:before {
  content: '\e915';
}
.#{$iconfont-css-prefix}-left_fang_o:before {
  content: '\e916';
}
.#{$iconfont-css-prefix}-right_fang_o:before {
  content: '\e917';
}
.#{$iconfont-css-prefix}-arrow_up:before {
  content: '\e918';
}
.#{$iconfont-css-prefix}-arrow_down:before {
  content: '\e919';
}
.#{$iconfont-css-prefix}-arrow_left:before {
  content: '\e91a';
}
.#{$iconfont-css-prefix}-arrow_right:before {
  content: '\e91b';
}
.#{$iconfont-css-prefix}-arrow_up_o:before {
  content: '\e91c';
}
.#{$iconfont-css-prefix}-arrow_down_o:before {
  content: '\e91d';
}
.#{$iconfont-css-prefix}-arrow_left_o:before {
  content: '\e91e';
}
.#{$iconfont-css-prefix}-arrow_right_o:before {
  content: '\e91f';
}
.#{$iconfont-css-prefix}-menu_fold:before {
  content: '\e920';
}
.#{$iconfont-css-prefix}-menu_unfold:before {
  content: '\e921';
}
.#{$iconfont-css-prefix}-double_left:before {
  content: '\e922';
}
.#{$iconfont-css-prefix}-double_right:before {
  content: '\e923';
}
.#{$iconfont-css-prefix}-swap:before {
  content: '\e924';
}
.#{$iconfont-css-prefix}-swap_sx:before {
  content: '\e925';
}
.#{$iconfont-css-prefix}-right_down:before {
  content: '\e926';
}
.#{$iconfont-css-prefix}-back_top:before {
  content: '\e927';
}
.#{$iconfont-css-prefix}-back:before {
  content: '\e928';
}
.#{$iconfont-css-prefix}-data_rise:before {
  content: '\e929';
}
.#{$iconfont-css-prefix}-data_decline:before {
  content: '\e92a';
}
.#{$iconfont-css-prefix}-upload:before {
  content: '\e92b';
}
.#{$iconfont-css-prefix}-download:before {
  content: '\e92c';
}
.#{$iconfont-css-prefix}-share:before {
  content: '\e92d';
}
.#{$iconfont-css-prefix}-retweet:before {
  content: '\e92e';
}
.#{$iconfont-css-prefix}-refresh:before {
  content: '\e92f';
}
.#{$iconfont-css-prefix}-step_backward:before {
  content: '\e930';
}
.#{$iconfont-css-prefix}-step_forward:before {
  content: '\e931';
}
.#{$iconfont-css-prefix}-fast_backward:before {
  content: '\e932';
}
.#{$iconfont-css-prefix}-fast_forward:before {
  content: '\e933';
}
.#{$iconfont-css-prefix}-play_circle:before {
  content: '\e934';
}
.#{$iconfont-css-prefix}-play_circle_o:before {
  content: '\e935';
}
.#{$iconfont-css-prefix}-play_pause_o:before {
  content: '\e936';
}
.#{$iconfont-css-prefix}-question:before {
  content: '\e937';
}
.#{$iconfont-css-prefix}-question_circle_o:before {
  content: '\e938';
}
.#{$iconfont-css-prefix}-question_circle:before {
  content: '\e939';
}
.#{$iconfont-css-prefix}-info:before {
  content: '\e93a';
}
.#{$iconfont-css-prefix}-info_circle_o:before {
  content: '\e93b';
}
.#{$iconfont-css-prefix}-info_circle:before {
  content: '\e93c';
}
.#{$iconfont-css-prefix}-exclamation:before {
  content: '\e93d';
}
.#{$iconfont-css-prefix}-exclamation_circle_o:before {
  content: '\e93e';
}
.#{$iconfont-css-prefix}-exclamation_circle:before {
  content: '\e93f';
}
.#{$iconfont-css-prefix}-ok:before {
  content: '\e940';
}
.#{$iconfont-css-prefix}-ok_circle_o:before {
  content: '\e941';
}
.#{$iconfont-css-prefix}-ok_circle:before {
  content: '\e942';
}
.#{$iconfont-css-prefix}-close:before {
  content: '\e943';
}
.#{$iconfont-css-prefix}-close_circle_o:before {
  content: '\e944';
}
.#{$iconfont-css-prefix}-close_circle:before {
  content: '\e945';
}
.#{$iconfont-css-prefix}-add:before {
  content: '\e946';
}
.#{$iconfont-css-prefix}-add_circle_o:before {
  content: '\e947';
}
.#{$iconfont-css-prefix}-add_circle:before {
  content: '\e948';
}
.#{$iconfont-css-prefix}-pause:before {
  content: '\e949';
}
.#{$iconfont-css-prefix}-pause_circle_o:before {
  content: '\e94a';
}
.#{$iconfont-css-prefix}-pause_circle:before {
  content: '\e94b';
}
.#{$iconfont-css-prefix}-minus:before {
  content: '\e94c';
}
.#{$iconfont-css-prefix}-minus_circle_o:before {
  content: '\e94d';
}
.#{$iconfont-css-prefix}-minus_circle:before {
  content: '\e94e';
}
.#{$iconfont-css-prefix}-circle:before {
  content: '\e94f';
}
.#{$iconfont-css-prefix}-circle_selected:before {
  content: '\e950';
}
.#{$iconfont-css-prefix}-square:before {
  content: '\e951';
}
.#{$iconfont-css-prefix}-square_selected:before {
  content: '\e952';
}
.#{$iconfont-css-prefix}-add_square_o:before {
  content: '\e953';
}
.#{$iconfont-css-prefix}-add_square:before {
  content: '\e954';
}
.#{$iconfont-css-prefix}-minus_square_o:before {
  content: '\e955';
}
.#{$iconfont-css-prefix}-minus_square:before {
  content: '\e956';
}
.#{$iconfont-css-prefix}-clock_circle_o:before {
  content: '\e957';
}
.#{$iconfont-css-prefix}-clock_circle:before {
  content: '\e958';
}
.#{$iconfont-css-prefix}-warning_o:before {
  content: '\e959';
}
.#{$iconfont-css-prefix}-warning:before {
  content: '\e95a';
}
.#{$iconfont-css-prefix}-horn_o:before {
  content: '\e95b';
}
.#{$iconfont-css-prefix}-horn:before {
  content: '\e95c';
}
.#{$iconfont-css-prefix}-bells:before {
  content: '\e95d';
}
.#{$iconfont-css-prefix}-Information_o:before {
  content: '\e95e';
}
.#{$iconfont-css-prefix}-app_o:before {
  content: '\e95f';
}
.#{$iconfont-css-prefix}-delete_o:before {
  content: '\e960';
}
.#{$iconfont-css-prefix}-copy_o:before {
  content: '\e961';
}
.#{$iconfont-css-prefix}-edit:before {
  content: '\e962';
}
.#{$iconfont-css-prefix}-catalog:before {
  content: '\e963';
}
.#{$iconfont-css-prefix}-more:before {
  content: '\e964';
}
.#{$iconfont-css-prefix}-save:before {
  content: '\e965';
}
.#{$iconfont-css-prefix}-order:before {
  content: '\e966';
}
.#{$iconfont-css-prefix}-order_search:before {
  content: '\e967';
}
.#{$iconfont-css-prefix}-order_false:before {
  content: '\e968';
}
.#{$iconfont-css-prefix}-order_success:before {
  content: '\e969';
}
.#{$iconfont-css-prefix}-order_account:before {
  content: '\e96a';
}
.#{$iconfont-css-prefix}-order_rmb:before {
  content: '\e96b';
}
.#{$iconfont-css-prefix}-order_date:before {
  content: '\e96c';
}
.#{$iconfont-css-prefix}-calendar:before {
  content: '\e96d';
}
.#{$iconfont-css-prefix}-account:before {
  content: '\e96e';
}
.#{$iconfont-css-prefix}-account_add:before {
  content: '\e96f';
}
.#{$iconfont-css-prefix}-account_menu:before {
  content: '\e970';
}
.#{$iconfont-css-prefix}-account_more:before {
  content: '\e971';
}
.#{$iconfont-css-prefix}-account_out:before {
  content: '\e972';
}
.#{$iconfont-css-prefix}-lock:before {
  content: '\e973';
}
.#{$iconfont-css-prefix}-unlock:before {
  content: '\e974';
}
.#{$iconfont-css-prefix}-menu_more:before {
  content: '\e975';
}
.#{$iconfont-css-prefix}-closed:before {
  content: '\e976';
}
.#{$iconfont-css-prefix}-home:before {
  content: '\e977';
}
.#{$iconfont-css-prefix}-mail:before {
  content: '\e978';
}
.#{$iconfont-css-prefix}-scanning:before {
  content: '\e979';
}
.#{$iconfont-css-prefix}-search:before {
  content: '\e97a';
}
.#{$iconfont-css-prefix}-enlarge:before {
  content: '\e97b';
}
.#{$iconfont-css-prefix}-narrow:before {
  content: '\e97c';
}
.#{$iconfont-css-prefix}-network:before {
  content: '\e97d';
}
.#{$iconfont-css-prefix}-menu_o:before {
  content: '\e97e';
}
.#{$iconfont-css-prefix}-regulation:before {
  content: '\e97f';
}
.#{$iconfont-css-prefix}-loading:before,
.#{$iconfont-css-prefix}-refresh_gif:before {
  content: '\e980';
}
.#{$iconfont-css-prefix}-safty:before {
  content: '\e981';
}
.#{$iconfont-css-prefix}-setting:before {
  content: '\e982';
}
.#{$iconfont-css-prefix}-code_r:before {
  content: '\e983';
}
.#{$iconfont-css-prefix}-storage:before {
  content: '\e984';
}
.#{$iconfont-css-prefix}-sixangle_three:before {
  content: '\e985';
}
.#{$iconfont-css-prefix}-code:before {
  content: '\e986';
}
.#{$iconfont-css-prefix}-box:before {
  content: '\e987';
}
.#{$iconfont-css-prefix}-printing:before {
  content: '\e988';
}
.#{$iconfont-css-prefix}-screenshot:before {
  content: '\e989';
}
.#{$iconfont-css-prefix}-monitoring:before {
  content: '\e98a';
}
.#{$iconfont-css-prefix}-picture:before {
  content: '\e98b';
}
.#{$iconfont-css-prefix}-chart_line:before {
  content: '\e98c';
}
.#{$iconfont-css-prefix}-chart_bar:before {
  content: '\e98d';
}
.#{$iconfont-css-prefix}-chart_plot:before {
  content: '\e98e';
}
.#{$iconfont-css-prefix}-chart_pie:before {
  content: '\e98f';
}
.#{$iconfont-css-prefix}-relationship_circle:before {
  content: '\e990';
}
.#{$iconfont-css-prefix}-resources_zhu:before {
  content: '\e991';
}
.#{$iconfont-css-prefix}-resources_fang:before {
  content: '\e992';
}
.#{$iconfont-css-prefix}-calculation:before {
  content: '\e993';
}
.#{$iconfont-css-prefix}-pc_o:before {
  content: '\e994';
}
.#{$iconfont-css-prefix}-topology:before {
  content: '\e995';
}
.#{$iconfont-css-prefix}-cloud:before {
  content: '\e996';
}
.#{$iconfont-css-prefix}-cloud_upload:before {
  content: '\e997';
}
.#{$iconfont-css-prefix}-cloud_download:before {
  content: '\e998';
}
.#{$iconfont-css-prefix}-test_r:before {
  content: '\e999';
}
.#{$iconfont-css-prefix}-router:before {
  content: '\e99a';
}
.#{$iconfont-css-prefix}-heart:before {
  content: '\e99b';
}
.#{$iconfont-css-prefix}-heart_o:before {
  content: '\e99c';
}
.#{$iconfont-css-prefix}-star:before {
  content: '\e99d';
}
.#{$iconfont-css-prefix}-star_o:before {
  content: '\e99e';
}
.#{$iconfont-css-prefix}-praise:before {
  content: '\e99f';
}
.#{$iconfont-css-prefix}-praise_o:before {
  content: '\e9a0';
}
.#{$iconfont-css-prefix}-negative:before {
  content: '\e9a1';
}
.#{$iconfont-css-prefix}-negative_o:before {
  content: '\e9a2';
}
.#{$iconfont-css-prefix}-eye:before {
  content: '\e9a3';
}
.#{$iconfont-css-prefix}-eye_o:before {
  content: '\e9a4';
}
.#{$iconfont-css-prefix}-map:before {
  content: '\e9a5';
}
.#{$iconfont-css-prefix}-map_o:before {
  content: '\e9a6';
}
.#{$iconfont-css-prefix}-unhappy:before {
  content: '\e9a7';
}
.#{$iconfont-css-prefix}-unhappy_o:before {
  content: '\e9a8';
}
.#{$iconfont-css-prefix}-commonly_o:before {
  content: '\e9a9';
}
.#{$iconfont-css-prefix}-commonly:before {
  content: '\e9aa';
}
.#{$iconfont-css-prefix}-happy_o:before {
  content: '\e9ab';
}
.#{$iconfont-css-prefix}-happy:before {
  content: '\e9ac';
}
.#{$iconfont-css-prefix}-filter:before {
  content: '\e9ad';
}
.#{$iconfont-css-prefix}-gift:before {
  content: '\e9ae';
}
.#{$iconfont-css-prefix}-shopping_Cart:before {
  content: '\e9af';
}
.#{$iconfont-css-prefix}-voucher:before {
  content: '\e9b0';
}
.#{$iconfont-css-prefix}-shop:before {
  content: '\e9b1';
}
.#{$iconfont-css-prefix}-wallet:before {
  content: '\e9b2';
}
.#{$iconfont-css-prefix}-card:before {
  content: '\e9b3';
}
.#{$iconfont-css-prefix}-customer_service:before {
  content: '\e9b4';
}
.#{$iconfont-css-prefix}-call:before {
  content: '\e9b5';
}
.#{$iconfont-css-prefix}-discount:before {
  content: '\e9b6';
}
.#{$iconfont-css-prefix}-code_qr:before {
  content: '\e9b7';
}
.#{$iconfont-css-prefix}-skin:before {
  content: '\e9b8';
}
.#{$iconfont-css-prefix}-diamonds:before {
  content: '\e9b9';
}
.#{$iconfont-css-prefix}-building:before {
  content: '\e9ba';
}
.#{$iconfont-css-prefix}-send_out:before {
  content: '\e9bb';
}
.#{$iconfont-css-prefix}-mark:before {
  content: '\e9bc';
}
.#{$iconfont-css-prefix}-mark_text:before {
  content: '\e9bd';
}
.#{$iconfont-css-prefix}-fullscreen_exit:before {
  content: '\e9be';
}
.#{$iconfont-css-prefix}-fullscreen:before {
  content: '\e9bf';
}
.#{$iconfont-css-prefix}-hot:before {
  content: '\e9c0';
}
.#{$iconfont-css-prefix}-hot_o:before {
  content: '\e9c1';
}
.#{$iconfont-css-prefix}-crown:before {
  content: '\e9c2';
}
.#{$iconfont-css-prefix}-coffee:before {
  content: '\e9c3';
}
.#{$iconfont-css-prefix}-voice:before {
  content: '\e9c4';
}
.#{$iconfont-css-prefix}-finance:before {
  content: '\e9c5';
}
.#{$iconfont-css-prefix}-ranking:before {
  content: '\e9c6';
}
.#{$iconfont-css-prefix}-blub:before {
  content: '\e9c7';
}
.#{$iconfont-css-prefix}-folder:before {
  content: '\e9c8';
}
.#{$iconfont-css-prefix}-folder_open:before {
  content: '\e9c9';
}
.#{$iconfont-css-prefix}-file_none:before {
  content: '\e9ca';
}
.#{$iconfont-css-prefix}-file:before {
  content: '\e9cb';
}
.#{$iconfont-css-prefix}-file_question:before {
  content: '\e9cc';
}
.#{$iconfont-css-prefix}-file_ppt:before {
  content: '\e9cd';
}
.#{$iconfont-css-prefix}-file_word:before {
  content: '\e9ce';
}
.#{$iconfont-css-prefix}-file_excel:before {
  content: '\e9cf';
}
.#{$iconfont-css-prefix}-file_add:before {
  content: '\e9d0';
}
.#{$iconfont-css-prefix}-table:before {
  content: '\e9d1';
}
.#{$iconfont-css-prefix}-share2:before {
  content: '\e9d2';
}
.#{$iconfont-css-prefix}-photo:before {
  content: '\e9d3';
}
.#{$iconfont-css-prefix}-shopping:before {
  content: '\e9d4';
}
.#{$iconfont-css-prefix}-business:before {
  content: '\e9d5';
}
.#{$iconfont-css-prefix}-delivery:before {
  content: '\e9d6';
}
.#{$iconfont-css-prefix}-flash_lamp:before {
  content: '\e9d7';
}
.#{$iconfont-css-prefix}-location_o:before {
  content: '\e9d8';
}
.#{$iconfont-css-prefix}-logistics:before {
  content: '\e9d9';
}
.#{$iconfont-css-prefix}-link:before {
  content: '\e9da';
}
.#{$iconfont-css-prefix}-macbook:before {
  content: '\e9db';
}
.#{$iconfont-css-prefix}-mobilephone:before {
  content: '\e9dc';
}
.#{$iconfont-css-prefix}-wrench:before {
  content: '\e9dd';
}
