@import 'motion/zoom';
@import 'motion/fade';
@import 'motion/move';
@import 'motion/slide';

@keyframes loadingCircle {
  0% {
    transform-origin: 50% 50%;
    transform: rotate(0deg);
  }
  100% {
    transform-origin: 50% 50%;
    transform: rotate(360deg);
  }
}

.ux-motion-collapse {
  overflow: hidden;
  &-enter,
  &-leave {
    opacity: 0;
  }
  &-enter-active,
  &-leave-active {
    transition: height 0.15s $ease-in-out, opacity 0.15s $ease-in-out;
  }
}
