@import '../../style/themes/default';
@import '../../style/mixins/index';
@import '../../style/functions/color';
@import 'mixin';

$tag-prefix-cls: #{$ux-prefix}-tag;

.#{$tag-prefix-cls} {
  @include reset-component;
  display: inline-block;
  line-height: 20px;
  height: 22px;
  padding: 0 7px;
  border-radius: $border-radius-base;
  border: $border-width-base $border-style-base $border-color-base;
  background: $tag-default-bg;
  font-size: $tag-font-size;
  transition: all 0.3s $ease-out;
  opacity: 1;
  margin-right: 8px;
  cursor: pointer;
  white-space: nowrap;

  &:hover {
    opacity: 0.85;
  }

  &,
  a,
  a:hover {
    color: $tag-default-color;
  }

  > a:first-child:last-child {
    display: inline-block;
    margin: 0 -8px;
    padding: 0 8px;
  }

  .#{$iconfont-css-prefix}-close {
    @include iconfont-size-under-12px(10px);
    cursor: pointer;
    margin-left: 3px;
    transition: all 0.3s;
    color: $text-color-secondary;
    font-weight: bold;

    &:hover {
      color: $heading-color;
    }
  }

  // TODO delete this ugly patch later
  @import 'dark';

  &-has-color {
    border-color: transparent;
    &,
    a,
    a:hover,
    .#{$iconfont-css-prefix}-close,
    .#{$iconfont-css-prefix}-close:hover {
      color: #fff;
    }
  }

  &-checkable {
    background-color: transparent;
    border-color: transparent;
    &:hover {
      color: $primary-color;
    }

    &:active,
    &-checked {
      &,
      &:hover {
        color: #fff;
      }
    }
    &-checked {
      background-color: $primary-6;
    }
    &:active {
      background-color: $primary-7;
    }
  }

  &-close {
    width: 0 !important;
    padding: 0;
    margin: 0;
  }

  &-zoom-enter-active {
    animation: uxFadeIn 2.2s $ease-in-out-circ;
    animation-fill-mode: both;
  }

  &-zoom-leave-active {
    animation: uxTagOut 0.3s $ease-in-out-circ;
    transform-origin: 0 center;
    animation-fill-mode: both;
  }

  @keyframes uxTagOut {
    0% {
      transform: scale(1);
    }
    100% {
      width: 0;
      padding: 0;
      margin: 0;
      transform: scale(0);
    }
  }
  @include make-color-classes($colors);
}
