// $table-cmp-bg-dark: rgba(34, 34, 34, 1);
$table-cmp-bg-dark: getLevelColor($black, 3);

.#{$table-prefix-cls} {
  &-dark & {
    color: rgba($white, 0.65);
  }
  &-dark &-thead > tr > th {
    background: $table-header-bg-dark;
    color: rgba($heading-color-dark, 0.5);
    border-bottom-color: $border-color-split-dark;
    .#{$iconfont-css-prefix}-filter,
    .#{$table-prefix-cls}-filter-icon {
      color: $text-color-secondary-dark;
      &:hover {
        color: $text-color-dark;
      }
    }
  }
  &-dark &-tbody > tr > td {
    border-bottom-color: $border-color-split-dark;
  }

  &-dark &-thead > tr,
  &-dark &-tbody > tr {
    &.#{$table-prefix-cls}-row-hover,
    &:hover {
      & > td {
        background: $table-row-hover-bg-dark;
      }
    }
  }
  &-dark &-header {
    background: $table-header-bg-dark;
  }
  &-dark &-footer {
    background: $table-header-bg-dark;
    border-top-color: $border-color-split-dark;
    &:before {
      background: $table-header-bg-dark;
    }
  }

  &-dark &.#{$table-prefix-cls}-bordered &-footer,
  &-dark &.#{$table-prefix-cls}-bordered &-title {
    border-color: $border-color-split-dark;
  }

  &-dark &-bordered {
    .#{$table-prefix-cls}-header > table,
    .#{$table-prefix-cls}-body > table,
    .#{$table-prefix-cls}-fixed-left table,
    .#{$table-prefix-cls}-fixed-right table {
      border-color: $border-color-split-dark;
    }

    &.#{$table-prefix-cls}-empty {
      .#{$table-prefix-cls}-placeholder {
        border-left-color: $border-color-split-dark;
        border-right-color: $border-color-split-dark;
      }
    }

    .#{$table-prefix-cls}-thead > tr > th {
      border-bottom-color: $border-color-split-dark;
    }

    .#{$table-prefix-cls}-thead > tr > th,
    .#{$table-prefix-cls}-tbody > tr > td {
      border-right-color: $border-color-split-dark;
    }
  }

  &-dark &-tbody > tr.#{$table-prefix-cls}-row-selected td {
    background: $table-selected-row-bg-dark;
  }

  &-dark &-thead > tr > th.#{$table-prefix-cls}-column-sort {
    background: $table-header-sort-bg-dark;
  }

  &-dark &-loading {
    .#{$table-prefix-cls}-body {
      background: $table-cmp-bg-dark;
    }
  }

  &-dark &-placeholder {
    background: $table-cmp-bg-dark;
    color: $text-color-secondary-dark;
    border-bottom-color: $border-color-split-dark;
  }

  &-dark &-filter-dropdown {
    background: $table-cmp-bg-dark;

    &-btns {
      border-top-color: $border-color-split-dark;
    }
  }
  &-dark &-filter-dropdown,
  &-dark &-selection-dropdown {
    .#{$ux-prefix}-dropdown-menu {
      background: $table-cmp-bg-dark;
      &-item,
      &-submenu-title {
        color: $text-color-secondary-dark;
        &:hover {
          background: $table-row-hover-bg-dark;
        }
      }
      &-item-selected {
        background: $table-row-hover-bg-dark;
      }
      &-submenu-title:after {
        color: $text-color-secondary-dark;
      }
    }
  }

  &-dark &-selection {
    .#{$iconfont-css-prefix}-down {
      color: $text-color-secondary-dark;
    }
    &-menu {
      background: $table-cmp-bg-dark;
      .#{$ux-prefix}-action-down {
        color: $text-color-secondary-dark;
      }
    }
  }
  &-dark &-row {
    &-expand-icon {
      background: $table-cmp-bg-dark;
      border-color: $border-color-split-dark;
    }
  }

  &-dark tr#{&}-expanded-row {
    &,
    &:hover {
      > td {
        background: $table-cmp-bg-dark;
      }
    }
  }

  &-dark &-body {
    background: $table-cmp-bg-dark !important;
  }

  &-dark &-fixed-left,
  &-dark &-fixed-right {
    table {
      background: $table-cmp-bg-dark;
    }
  }

  &-dark &-column-sorter {
    color: $text-color-secondary-dark;
  }

  &-dark &-submenu-title:after {
    color: rgba($white, 0.43);
  }

  &-dark &-small {
    border-color: $border-color-split-dark;
  }
}
