@import '../../style/themes/default';
@import '../../style/mixins/index';

$input-affix-width: 19px;

// size mixins for input
@mixin input-lg() {
  padding: $input-padding-vertical-lg $input-padding-horizontal-lg;
  height: $input-height-lg;
}

@mixin input-sm() {
  padding: $input-padding-vertical-sm $input-padding-horizontal-sm;
  height: $input-height-sm;
}

// input status
// == when focus or actived
@mixin active($color: $outline-color) {
  border-color: coloPalette($color, 5);
  outline: 0;
  box-shadow: 0 0 $outline-blur-size $outline-width fade($color, 20%);
}

// == when hoverd
@mixin hover($color: $input-hover-border-color) {
  border-color: coloPalette($color, 5);
}

@mixin disabled() {
  background-color: $input-disabled-bg;
  opacity: 1;
  cursor: not-allowed;
  color: $disabled-color;
  &:hover {
    @include hover($input-border-color);
  }
}

// Basic style for input
@mixin input() {
  position: relative;
  display: inline-block;
  padding: $input-padding-vertical-base $input-padding-horizontal-base;
  width: 100%;
  height: $input-height-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $input-color;
  background-color: $input-bg;
  background-image: none;
  border: $border-width-base $border-style-base $input-border-color;
  border-radius: $border-radius-base;
  @include placeholder(); // Reset placeholder
  transition: all 0.3s;

  &:hover {
    @include hover();
  }

  &:focus {
    @include active();
  }

  &-disabled {
    @include disabled();
  }

  // Reset height for `textarea`s
  textarea#{&} {
    max-width: 100%; // prevent textearea resize from coming out of its container
    height: auto;
    vertical-align: bottom;
    transition: all 0.3s, height 0s;
    min-height: $input-height-base;
  }

  // Size
  &-lg {
    @include input-lg();
  }

  &-sm {
    @include input-sm();
  }
}

// label input
@mixin input-group($inputClass) {
  position: relative;
  display: table;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;

  // Undo padding and float of grid classes
  &[class*='col-'] {
    float: none;
    padding-left: 0;
    padding-right: 0;
  }

  > [class*='col-'] {
    padding-right: 8px;
    &:last-child {
      padding-right: 0;
    }
  }

  &-addon,
  &-wrap,
  > .#{$inputClass} {
    display: table-cell;

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
  }

  &-addon,
  &-wrap {
    width: 1px; // To make addon/wrap as small as possible
    white-space: nowrap;
    vertical-align: middle;
  }

  &-wrap > * {
    display: block !important;
  }

  .#{$inputClass} {
    float: left;
    width: 100%;
    margin-bottom: 0;
    &:focus {
      z-index: 1; // Fix https://gw.alipayobjects.com/zos/rmsportal/DHNpoqfMXSfrSnlZvhsJ.png
    }
  }

  &-addon {
    padding: $input-padding-vertical-base $input-padding-horizontal-base;
    font-size: $font-size-base;
    font-weight: normal;
    line-height: 1;
    color: $input-color;
    text-align: center;
    background-color: $input-addon-bg;
    border: $border-width-base $border-style-base $input-border-color;
    border-radius: $border-radius-base;
    position: relative;
    transition: all 0.3s;

    // Reset Select's style in addon
    .#{$ux-prefix}-select {
      margin: -($input-padding-vertical-base + 1px) (-$input-padding-horizontal-base); // lesshint spaceAroundOperator: false

      .#{$ux-prefix}-select-selection {
        background-color: inherit;
        margin: -1px;
        border: $border-width-base $border-style-base transparent;
        box-shadow: none;
      }

      &-open,
      &-focused {
        .#{$ux-prefix}-select-selection {
          color: $primary-color;
        }
      }
    }

    // Expand addon icon click area
    // https://github.com/ant-design/ant-design/issues/3714
    > i:only-child:after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  // Reset rounded corners
  > .#{$inputClass}:first-child,
  &-addon:first-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;

    // Reset Select's style in addon
    .#{$ux-prefix}-select .#{$ux-prefix}-select-selection {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
  }

  > .#{$inputClass}-affix-wrapper {
    &:not(:first-child) .#{$inputClass} {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }

    &:not(:last-child) .#{$inputClass} {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
  }

  &-addon:first-child {
    border-right: 0;
  }
  &-addon:last-child {
    border-left: 0;
  }

  > .#{$inputClass}:last-child,
  &-addon:last-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;

    // Reset Select's style in addon
    .#{$ux-prefix}-select .#{$ux-prefix}-select-selection {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }

  // Sizing options
  &-lg .#{$inputClass},
  &-lg > &-addon {
    @include input-lg();
  }

  &-sm .#{$inputClass},
  &-sm > &-addon {
    @include input-sm();
  }

  // Fix https://github.com/ant-design/ant-design/issues/5754
  &-lg .#{$ux-prefix}-select-selection--single {
    height: $input-height-lg;
  }

  &-sm .#{$ux-prefix}-select-selection--single {
    height: $input-height-sm;
  }

  .#{$inputClass}-affix-wrapper {
    display: table-cell;
    width: 100%;
    float: left;
  }

  &#{&}-compact {
    display: block;
    @include clearfix;

    & > * {
      border-radius: 0;
      border-right-width: 0;
      vertical-align: top; // https://github.com/ant-design/ant-design-pro/issues/139
      float: none;
      display: inline-block;
    }

    // Undo float for .ant-input-group .ant-input
    .#{$inputClass} {
      float: none;
      z-index: auto;
    }

    // reset border for Select, DatePicker, AutoComplete, Cascader, Mention, TimePicker
    & > .#{$ux-prefix}-select > .#{$ux-prefix}-select-selection,
    & > .#{$ux-prefix}-calendar-picker .#{$ux-prefix}-input,
    & > .#{$ux-prefix}-select-auto-complete .#{$ux-prefix}-input,
    & > .#{$ux-prefix}-cascader-picker .#{$ux-prefix}-input,
    & > .#{$ux-prefix}-mention-wrapper .#{$ux-prefix}-mention-editor,
    & > .#{$ux-prefix}-time-picker .#{$ux-prefix}-time-picker-input {
      border-radius: 0;
      border-right-width: 0;
    }

    & > *:first-child,
    & > .#{$ux-prefix}-select:first-child > .#{$ux-prefix}-select-selection,
    & > .#{$ux-prefix}-calendar-picker:first-child .#{$ux-prefix}-input,
    & > .#{$ux-prefix}-select-auto-complete:first-child .#{$ux-prefix}-input,
    & > .#{$ux-prefix}-cascader-picker:first-child .#{$ux-prefix}-input,
    & > .#{$ux-prefix}-mention-wrapper:first-child .#{$ux-prefix}-mention-editor,
    & > .#{$ux-prefix}-time-picker:first-child .#{$ux-prefix}-time-picker-input {
      border-top-left-radius: $border-radius-base;
      border-bottom-left-radius: $border-radius-base;
    }

    & > *:last-child,
    & > .#{$ux-prefix}-select:last-child > .#{$ux-prefix}-select-selection,
    & > .#{$ux-prefix}-calendar-picker:last-child .#{$ux-prefix}-input,
    & > .#{$ux-prefix}-select-auto-complete:last-child .#{$ux-prefix}-input,
    & > .#{$ux-prefix}-cascader-picker:last-child .#{$ux-prefix}-input,
    & > .#{$ux-prefix}-mention-wrapper:last-child .#{$ux-prefix}-mention-editor,
    & > .#{$ux-prefix}-time-picker:last-child .#{$ux-prefix}-time-picker-input {
      border-top-right-radius: $border-radius-base;
      border-bottom-right-radius: $border-radius-base;
      border-right-width: 1px;
    }
  }
}

@mixin input-affix-wrapper($inputClass) {
  position: relative;
  display: inline-block;
  width: 100%;

  .#{$inputClass} {
    z-index: 1;
  }

  &:hover .#{$inputClass}:not(.#{$inputClass}-disabled) {
    @include hover();
  }

  .#{$inputClass}-prefix,
  .#{$inputClass}-suffix {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    line-height: 0;
    color: $input-color;
  }

  .#{$inputClass}-prefix {
    left: $input-padding-horizontal-base + 1px;
  }

  .#{$inputClass}-suffix {
    right: $input-padding-horizontal-base + 1px;
  }

  .#{$inputClass}:not(:first-child) {
    padding-left: $input-padding-horizontal-base + $input-affix-width;
  }

  .#{$inputClass}:not(:last-child) {
    padding-right: $input-padding-horizontal-base + $input-affix-width;
  }
}

@mixin input-size($padding-y, $padding-x, $font-size, $line-height, $border-radius) {
  height: round(calc-css-outer-height($font-size, $padding-y, $line-height, $input-border-width));
  padding: $padding-y $padding-x;
  line-height: $line-height;
  font-size: $font-size;
  border-radius: $border-radius;
}

@mixin input-focus($color, $border-color) {
  &:focus,
  &.focus {
    color: $color;
    border-color: $border-color;
    @include box-shadow($input-box-shadow);
  }
}

@mixin input-group-addon-size($padding-y, $padding-x, $font-size, $line-height, $border-radius) {
  min-width: round(calc-css-inner-height($font-size, $padding-y, $line-height));
  padding: $padding-y $padding-x;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius;
}
