@import '../../style/themes/default';
@import '../../style/mixins/index';
@import './mixin';

$input-prefix-cls: #{$ux-prefix}-input;

// Input styles
.#{$input-prefix-cls} {
  @include reset-component;
  @include input;

  &-group {
    @include reset-component;
    @include input-group('#{$input-prefix-cls}');

    &-wrapper {
      display: inline-block;
      vertical-align: top;
      width: 100%;
    }
  }

  &-affix-wrapper {
    @include reset-component;
    @include input-affix-wrapper('#{$input-prefix-cls}');

    .#{$input-prefix-cls} {
      min-height: 100%;
    }
  }
}

textarea.#{$input-prefix-cls} {
  height: auto;
}

.#{$input-prefix-cls}-textarea-wrapper {
  position: relative;
  // for form validation
  display: inline-block;
  width: 100%;

  .#{$input-prefix-cls}-limit-word {
    font-size: 12px;
    display: inline-block;
    color: #909399;
    position: absolute;
    bottom: 4px;
    right: 12px;
  }
}

.#{$input-prefix-cls}-clear-icon {
  color: $disabled-color;
  font-size: $font-size-sm;
  vertical-align: top;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: $text-color-secondary;
  }

  &:active {
    color: $text-color;
  }

  + i,
  + .#{$input-prefix-cls}-limit-word {
    margin-left: 6px;
  }
}

@import 'search-input';
@import 'dark';
