@import '../../style/themes/index';

$layout-prefix-cls: #{$ux-prefix}-layout;

.#{$layout-prefix-cls} {
  position: relative;
  min-height: 100vh;
  background-color: $layout-bg-color;

  // header
  &-header {
    position: relative;
    height: $layout-header-height;
    background-color: $layout-header-bg-color;
    z-index: $zindex-layout-header;
  }

  // sidebar
  &-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: $layout-sidebar-width;
    height: 100%;
    padding-top: $layout-header-height;
    background-color: $layout-sidebar-bg-color;
    z-index: $zindex-layout-sidebar;
    transition: width .3s;
  }

  // main, footer
  &-main,
  &-footer {
    margin-left: $layout-sidebar-width;
    transition: margin-left .3s;
  }

  // side navigation layout
  // ---
  &-side-navigation {
    .#{$layout-prefix-cls}-sidebar {
      padding-top: 0;
      z-index: $zindex-layout-sidebar-side-navigation;
    }

    .#{$layout-prefix-cls}-header {
      z-index: $zindex-layout-header-side-navigation;
    }
  }
}

// header fixed
// ---
.header-fixed {
  .#{$layout-prefix-cls}-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: left .3s;
  }

  .#{$layout-prefix-cls}-main {
    padding-top: $layout-header-height;
  }

  &.#{$layout-prefix-cls}-side-navigation {
    .#{$layout-prefix-cls}-header {
      left: $layout-sidebar-width;
    }
  }
}

// sidebar fixed
// ---
.sidebar-fixed {
  .#{$layout-prefix-cls}-sidebar {
    position: fixed;
  }
}

// sidebar collapsed
// ---
.sidebar-collapsed {
  .#{$layout-prefix-cls}-sidebar {
    width: $layout-sidebar-collapsed-width;
  }

  .#{$layout-prefix-cls}-main,
  .#{$layout-prefix-cls}-footer {
    margin-left: $layout-sidebar-collapsed-width;
  }

  &.#{$layout-prefix-cls}-side-navigation {
    .#{$layout-prefix-cls}-header {
      left: $layout-sidebar-collapsed-width;
    }
  }
}

// no header
// ---
.no-header {
  .#{$layout-prefix-cls}-header {
    display: none;
  }

  .#{$layout-prefix-cls}-sidebar {
    padding-top: 0;
  }

  .#{$layout-prefix-cls}-main {
    padding-top: 0;
  }
}

// no sidebar
// ---
.no-sidebar {
  .#{$layout-prefix-cls}-sidebar {
    display: none;
  }

  .#{$layout-prefix-cls}-main {
    margin-left: 0;
  }

  &.#{$layout-prefix-cls}-side-navigation {
    .#{$layout-prefix-cls}-header {
      left: 0;
    }
  }
}

// no footer
// ---
.no-footer {
  .#{$layout-prefix-cls}-footer {
    display: none;
  }
}
