.#{$select-prefix-cls} {
  &-dark#{&} {
    color: rgba($text-color-dark, 1);
  }

  &-dark &-arrow {
    color: $disabled-color-dark;
  }
  &-dark &-selection {
    background-color: rgba($component-background-dark, 0.2);
    border-color: transparent;

    &__clear {
      background: transparent;
      color: rgba(#000, 0.65);
      &:hover {
        color: rgba(#000, 0.85);
      }
    }
  }

  &-dark#{&}-disabled {
    color: $disabled-color-dark;
  }

  &-dark#{&}-disabled &-selection {
    background: rgba($component-background-dark, 0.5);
    &:hover,
    &:focus,
    &:active {
      border-color: transparent;
      box-shadow: none;
    }
  }
  &-dark#{&}-disabled &-selection--multiple &-selection__choice {
    background: $tag-default-bg-dark;
    color: rgba(#aaa, 0.5);
  }

  &-dark#{&}-disabled &-selection__choice__remove {
    color: $disabled-color-dark;
    &:hover {
      color: $disabled-color-dark;
    }
  }

  &-dark &-selection__placeholder,
  &-dark &-search__field__placeholder {
    color: $input-placeholder-color-dark;
  }
  &-dark &-selection--multiple {
    .#{$select-prefix-cls}-selection__choice {
      color: $tag-default-color-dark;
      background-color: $tag-default-bg-dark;
      border-color: transparent;
    }
    .#{$select-prefix-cls}-selection__choice__remove {
      color: $text-color-secondary-dark;
    }
  }

  &-dropdown {
    &-dark {
      background: rgba($component-background-dark, 0.8);
    }
    &-dark &-menu {
      &-item-group-title {
        color: $text-color-secondary-dark;
      }
      &-item {
        color: $text-color-dark;
        &:hover {
          background-color: $item-hover-bg-dark;
        }
        &-disabled {
          color: $disabled-color-dark;
          &:hover {
            color: $disabled-color-dark;
            background-color: rgba($component-background-dark, 0.5);
          }
        }

        &-selected {
          &,
          &:hover {
            background-color: rgba($item-hover-bg-dark, 0.5);
            color: $text-color-dark;
          }
        }

        &-active {
          background-color: $item-active-bg-dark;
        }

        &-divider {
          background-color: $border-color-split-dark;
        }
      }
    }
    &-dark.#{$select-prefix-cls}-dropdown--multiple {
      .#{$select-prefix-cls}-dropdown-menu-item {
        &:hover:after {
          color: rgba(#000, 0.3);
        }

        &-selected:hover:after {
          color: $primary-color;
        }
      }
    }
  }
}
