.ux-topo-container {
  position: relative;
  width: 100%;
  height: 500px;
  border: 1px solid #ccc;
}

.ux-topo-panzoom {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ux-topo-diagram {
  position: absolute;
}

.ux-topo-node {
  position: absolute;
  cursor: pointer;
}
