.#{$prefixCls} {
  &-mask {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgb(55, 55, 55);
    background-color: rgba(55, 55, 55, 0.6);
    height: 100%;
    filter: alpha(opacity=50);
    z-index: 1050;

    &-hidden {
      display: none;
    }
  }

  @mixin fade-effect() {
    animation-duration: 0.3s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  }

  &-fade-enter {
    opacity: 0;
  }
  &-fade-leave {
    opacity: 1;
  }

  &-fade-enter-to,
  &-fade-leave-to {
    @include fade-effect();
    animation-play-state: paused;
  }
  &-fade-enter-to {
    opacity: 0;
  }
  &-fade-enter-to#{&}-fade-enter-active {
    animation-name: vDialogFadeIn;
    animation-play-state: running;
  }

  &-fade-leave-to#{&}-fade-leave-active {
    animation-name: vDialogFadeOut;
    animation-play-state: running;
  }

  @keyframes vDialogFadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes vDialogFadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
