@import '../../../components/style/themes/default';
@import '../../../components/style/mixins/index';

$chart-prefix-cls: #{$ux-prefix}-chart;

.#{$chart-prefix-cls} {
  &-msg,
  &-loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 12px;
    text-align: center;

    &::after {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
  }

  &-msg-box {
    display: inline-block;
    min-width: 240px;
    max-width: 50%;
    padding: 20px 15px;
    line-height: 20px;
    vertical-align: middle;

    > p {
      display: inline-block;
      text-align: left;
    }
  }

  &-loading {
    color: #fff;

    .loader {
      display: inline-block;
      width: 100%;
      font-size: 12px;
      vertical-align: middle;
    }

    .circular {
      width: 42px;
      height: 42px;
      animation: uxSpinRotate 2s linear infinite;
    }

    .path {
      animation: uxSpinDash 1.5s ease-in-out infinite;
      stroke-dasharray: 90, 150;
      stroke-dashoffset: 0;
      stroke-width: 2;
      stroke: #fff;
      stroke-linecap: round;
    }
  }

  &.light &-msg-box {
    background: #fff;
    color: #666;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  }

  &.light &-loading {
    background-color: rgba(0, 0, 0, 0.2);
  }

  &.dark &-msg-box {
    padding: 15px;
    border: 5px solid rgba(0, 0, 0, 0.2);
    background: #1e3652;
    color: rgba(255, 255, 255, 0.6);
  }

  &.dark &-loading {
    background-color: rgba(255, 255, 255, 0.6);
  }
}
