// 用来放置一些和主色调等挂钩的皮肤样式
.header-brand .logo path {
  fill: $primary-color;
}

.header-brand .version {
  color: $text-color-secondary;
}

.copyright {
  color: #999;
}

.doc {
  background: $doc-bg;
  color: $doc-color;

  blockquote {
    background: $doc-blockquote-bg;
    border-left: 5px solid $doc-blockquote-border-color;
  }

  code {
    background: $doc-code-bg;
    border: 1px solid $doc-code-border-color;
    color: $doc-code-color;
  }

  hr {
    border-top: 1px solid $doc-hr-color;
  }
}

.api-table,
.table-custom {
  caption {
    border: 1px solid $api-table-border-color;
    border-bottom: 0;
    color: $api-table-caption-color;
  }

  th {
    color: $api-table-th-color;
  }

  th,
  td {
    border: 1px solid $api-table-border-color;

    &:nth-child(even) {
      background-color: $api-table-accent-bg;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.code-wrapper {
  .copy {
    background: $copy-btn-bg;
    color: $copy-btn-color;

    &:hover {
      background: $copy-btn-hover-bg;
      color: $copy-btn-hover-color;
    }
  }

  .hljs {
    background: $demo-code-bg;
    border-color: $demo-code-border-color;
    color: $demo-code-color;
  }
}

.demo-code-more {
  background: $demo-code-more-bg;
  border-color: $demo-code-more-border-color;
  color: $demo-code-more-color;
}
