@import '../../../components/style/themes/default';
$card-prefix-cls: #{$ux-prefix}-card;

.#{$card-prefix-cls} {
  display: block;
  position: relative;
  margin-bottom: 10px;
  padding: 0 10px;
  background: #fff;
  // color: $text-color;
  font-size: 14px;
  line-height: 1.5;
  border: 1px solid transparent;
  border-radius: 2px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.2s;

  &:hover {
    border-color: #00c7dd;
  }

  &-header {
    position: relative;
    padding: 9px 0;
    border-bottom: 1px solid #eee;

    &.with-action {
      .#{$card-prefix-cls}-title {
        margin-right: 30px;
      }
    }
  }

  &-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-action {
    position: absolute;
    right: 14px;
    top: 8px;

    a {
      color: $text-color;
      font-size: 16px;
    }
  }

  &-body {
    padding: 10px 0;
  }

  // flat
  // ----------------------------------------------
  &-flat {
    border: 0;
    background: #3ba3c6;
    color: #fff;
    box-shadow: none;

    .#{$card-prefix-cls}-header {
      border-color: rgba(255, 255, 255, 0.3);
    }

    .#{$card-prefix-cls}-action a {
      color: #fff;
    }

    &.bg-red {
      background: #df6a6a;
    }
  }

  // vertical
  // ----------------------------------------------
  &-vertical {
    padding: 0;

    .#{$card-prefix-cls}-header {
      margin: 0 10px;
      padding: 14px 0;
      text-align: center;
    }
    .#{$card-prefix-cls}-body {
      padding: 0;
    }
  }
}

@import './dark';
