@import '../../style/themes/default';
@import '../../style/mixins/index';

$breadcrumb-prefix-cls: #{$ux-prefix}-breadcrumb;

.#{$breadcrumb-prefix-cls} {
  @include reset-component;
  color: $breadcrumb-color;

  .#{$iconfont-css-prefix} {
    font-size: $font-size-sm;
  }

  a {
    color: $breadcrumb-color;
    transition: color 0.3s;
    &:hover {
      color: $primary-5;
    }
  }

  & > span:last-child {
    color: $breadcrumb-active-color;
  }

  & > span:last-child &-separator {
    display: none;
  }

  &-separator {
    margin: 0 $padding-xs;
    color: $breadcrumb-divider-color;
  }

  &-link {
    > .#{$iconfont-css-prefix} + span {
      margin-left: 4px;
    }
  }
}

@import 'dark';
