@import '../../style/themes/default';
@import '../../style/mixins/index';

$avatar-prefix-cls: #{$ux-prefix}-avatar;

@mixin avatar-size($size, $font-size) {
  width: $size;
  height: $size;
  line-height: $size;
  border-radius: $size / 2;

  & > * {
    line-height: $size;
  }

  &.#{$avatar-prefix-cls}-icon {
    font-size: $font-size;
  }
}

.#{$avatar-prefix-cls} {
  @include reset-component;
  display: inline-block;
  text-align: center;
  background: $avatar-bg;
  color: $avatar-color;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  vertical-align: middle;

  &-image {
    background: transparent;
  }

  @include avatar-size($avatar-size-base, $avatar-font-size-base);

  &-lg {
    @include avatar-size($avatar-size-lg, $avatar-font-size-lg);
  }

  &-sm {
    @include avatar-size($avatar-size-sm, $avatar-font-size-sm);
  }

  &-square {
    border-radius: $avatar-border-radius;
  }

  & > img {
    width: 100%;
    height: 100%;
    display: block;
  }
}
