$icon-text-color: #fff;
$process-icon-color: #00d8ff;
$process-icon-text-color: $icon-text-color;
$process-title-color: rgba($process-icon-color, 0.85);
$process-description-color: rgba($process-icon-color, 0.65);
$process-tail-color: $border-color-split-dark;
$wait-icon-color: $disabled-color-dark;
$wait-icon-text-color: rgba($icon-text-color, 0.7);
$wait-title-color: rgba(#999, 0.85);
$wait-description-color: rgba(#999, 0.65);
$wait-tail-color: $process-tail-color;
$finish-icon-color: $process-icon-color;
$finish-icon-text-color: $icon-text-color;
$finish-title-color: rgba($finish-icon-color, 0.85);
$finish-description-color: rgba($finish-icon-color, 0.65);
$finish-tail-color: $finish-icon-color;
$error-icon-color: #ffb300;
$error-icon-text-color: $icon-text-color;
$error-title-color: rgba($error-icon-color, 0.85);
$error-description-color: rgba($error-icon-color, 0.65);
$error-tail-color: $wait-tail-color;
$steps-background: rgba($process-icon-color, 0.9);

$colorMap: (
  process-icon: $process-icon-color,
  process-icon-text: $process-icon-text-color,
  process-title: $process-title-color,
  process-description: $process-description-color,
  process-tail:$process-tail-color,
  wait-icon: $wait-icon-color,
  wait-icon-text: $wait-icon-text-color,
  wait-title: $wait-title-color,
  wait-description: $wait-description-color,
  wait-tail: $wait-tail-color,
  finish-icon: $finish-icon-color,
  finish-icon-text: $finish-icon-text-color,
  finish-title: $finish-title-color,
  finish-description: $finish-description-color,
  finish-tail: $finish-tail-color,
  error-icon: $error-icon-color,
  error-icon-text: $error-icon-text-color,
  error-title: $error-title-color,
  error-description: $error-description-color,
  error-tail: $error-tail-color
);

.#{$steps-prefix-cls} {
  $step-item: #{&}-item;
  &-dark {
    #{$step-item} {
      &-icon {
        border-color: $wait-icon-color;
        > .#{$steps-prefix-cls}-icon {
          color: $process-icon-color;
        }
      }

      &-tail {
        &:after {
          background: $border-color-split-dark;
        }
      }

      &-title {
        color: $text-color-dark;
        &:after {
          background: $wait-tail-color;
        }
      }

      &-description {
        color: $text-color-secondary-dark;
      }
      @include step-item-status(wait,$step-item);
      @include step-item-status(process,$step-item);

      &-wait #{$step-item}-icon {
        border-color: transparent;
        background-color: rgba(#fff, 0.2);
      }
      &-process #{$step-item}-icon {
        > .#{$steps-prefix-cls}-icon {
          color: $process-icon-text-color;
        }
      }

      @include step-item-status(finish,$step-item);
      @include step-item-status(error,$step-item);
      // &-error #{$step-item}-icon,
      // &-finish #{$step-item}-icon {
      //   > .#{$steps-prefix-cls}-icon {
      //     color: $icon-text-color;
      //   }
      // }
      &-error #{$step-item}-icon {
        background-color: $error-icon-color;
      }

      &.#{$steps-prefix-cls}-next-error .#{$steps-prefix-cls}-item-title:after {
        background: $error-icon-color;
      }
    }

    &.#{$steps-prefix-cls}-dot {
      #{$step-item}-icon {
        border: 0;
        background: transparent;
      }
    }

    & #{$step-item}-custom {
      #{$step-item}-icon {
        background: none;
        border: 0;
      }
      &#{$step-item}-error #{$step-item}-icon {
        .#{$steps-prefix-cls}-icon {
          color: $error-icon-color;
        }
      }
      &#{$step-item}-finish #{$step-item}-icon,
      &#{$step-item}-process #{$step-item}-icon {
        .#{$steps-prefix-cls}-icon {
          color: $process-icon-color;
        }
      }
    }
  }
}
